{"openapi": "3.1.0", "info": {"title": "FamApp's API Documentation", "description": "Public Facing APIs provided by FamApp. Version: `v4.1.0.7`. Source: https://github.com/nk521/oa-specs-famapp.", "version": "v4.1.0.7"}, "servers": [{"url": "https://hogwarts.famapp.in/halfblood/", "description": "Fampay's Prod Server"}], "paths": {"/bank/list": {"get": {"tags": ["Bank Management"], "summary": "List Supported Banks", "description": "Fetch a list of all NPCI-supported banks available for linking.", "operationId": "BankRoutes_list_bank_list_get", "parameters": [{"name": "showCreditLines", "in": "query", "required": true, "schema": {"type": "boolean", "title": "Showcreditlines"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_ListBanksResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/consent": {"post": {"tags": ["Bank Management"], "summary": "Account Linking Consent", "description": "Retrieve or submit user consent forms required for account aggregation and linking.", "operationId": "BankRoutes_account_consent_bank_account_consent_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BankConsentRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/setMpin": {"post": {"tags": ["Bank Management"], "summary": "Set UPI PIN", "description": "Initiate the flow to set a new 4 or 6-digit UPI MPIN for a specific bank account.", "operationId": "BankRoutes_account_setMpin_bank_account_setMpin_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/SetMpinRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/changeMpin": {"post": {"tags": ["Bank Management"], "summary": "Change UPI PIN", "description": "Update an existing UPI MPIN by providing the old credentials and new PIN.", "operationId": "BankRoutes_account_changeMpin_bank_account_changeMpin_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChangeMpinCredBlockModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/checkBalance": {"post": {"tags": ["Bank Management"], "summary": "Check Account Balance", "description": "Securely retrieve the current balance using an encrypted Credential Block.", "operationId": "BankRoutes_account_checkBalance_bank_account_checkBalance_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CheckBalanceCredBlockModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_CheckBalanceResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/delete": {"post": {"tags": ["Bank Management"], "summary": "Unlink Bank Account", "description": "Remove a linked bank account from the user's UPI profile.", "operationId": "BankRoutes_account_delete_bank_account_delete_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/RemoveBankAccountRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UserAccountModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/changeDefault": {"post": {"tags": ["Bank Management"], "summary": "Set Default Account", "description": "Set the primary bank account for all incoming and outgoing UPI transactions.", "operationId": "BankRoutes_account_changeDefault_bank_account_changeDefault_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChangeDefaultAccountRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UserAccountModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/generateOTP": {"post": {"tags": ["Bank Management"], "summary": "Request Bank OTP", "description": "Trigger a bank-generated OTP for sensitive operations like resetting an MPIN.", "operationId": "BankRoutes_account_generateOTP_bank_account_generateOTP_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenerateOtpRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_CredBlockResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/list": {"get": {"tags": ["Bank Management"], "summary": "List Linked Accounts", "description": "Retrieve all bank accounts currently linked to the user's profile.", "operationId": "BankRoutes_account_list_bank_account_list_get", "parameters": [{"name": "bankCode", "in": "query", "required": true, "schema": {"type": "string", "title": "Bankcode"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_LinkedBankAccountsResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/add": {"post": {"tags": ["Bank Management"], "summary": "Add Bank Account", "description": "Link a new bank account by discovering accounts associated with the registered mobile number.", "operationId": "BankRoutes_account_add_bank_account_add_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AddBankAccountRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UserAccountsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/lite/add": {"post": {"tags": ["Bank Management"], "summary": "Enable UPI Lite", "description": "Onboard the user to UPI Lite for small-value, PIN-less transactions.", "operationId": "BankRoutes_lite_add_bank_lite_add_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpiLiteOnboardingRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UpiLiteOnboardingResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/lite/delete": {"post": {"tags": ["Bank Management"], "summary": "Disable UPI Lite", "description": "Deactivate the UPI Lite wallet and refund the remaining balance to the linked bank account.", "operationId": "BankRoutes_lite_delete_bank_lite_delete_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UpiLiteSyncResponseModel_"}}}}}}}, "/bank/lite/sync": {"post": {"tags": ["Bank Management"], "summary": "Sync UPI Lite Balance", "description": "Synchronize local on-device wallet balance with the server-side ledger.", "operationId": "BankRoutes_lite_sync_bank_lite_sync_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UpiLiteSyncResponseModel_"}}}}}}}, "/bank/upiVersions": {"get": {"tags": ["Bank Management"], "summary": "UPI Protocol Versions", "description": "Check compatible UPI SDK and protocol versions supported by the backend.\n\nNote: `bankCode` is equal to --\n\n```python\nsome: list[str] = [...]\n\nbankCode = \",\".join(some[:62])\n```", "operationId": "BankRoutes_upiVersions_bank_upiVersions_get", "parameters": [{"name": "bankCodes", "in": "query", "required": true, "schema": {"type": "string", "title": "Bankcodes"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UpiVersionsResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/collectRequest/new": {"post": {"tags": ["Collect Requests"], "summary": "Initiate Collect Request", "description": "Create a request to pull funds from a third-party VPA.", "operationId": "CollectRoutes_new_collectRequest_new_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapCollectCreateRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapCollectDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/collectRequest/list": {"get": {"tags": ["Collect Requests"], "summary": "List Incoming Requests", "description": "Fetch all pending collect requests sent to the user.", "operationId": "CollectRoutes_list_collectRequest_list_get", "parameters": [{"name": "flow", "in": "query", "required": false, "schema": {"type": "string", "default": "incoming", "title": "Flow"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapCollectListModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/collectRequest/genCredBlock": {"post": {"tags": ["Collect Requests"], "summary": "Generate Payment CredBlock", "description": "Generate the encrypted payload required to authorize a collect request payment.", "operationId": "CollectRoutes_genCredBlock_collectRequest_genCredBlock_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapCollectApproveRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_CredBlockResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/collectRequest/reject": {"post": {"tags": ["Collect Requests"], "summary": "Reject Collect Request", "description": "Decline an incoming payment request from another user or merchant.", "operationId": "CollectRoutes_reject_collectRequest_reject_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapCollectRejectRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapCollectDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/collectRequest/approve": {"post": {"tags": ["Collect Requests"], "summary": "Approve Collect Request", "description": "Authorize and execute a collect request payment.", "operationId": "CollectRoutes_approve_collectRequest_approve_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapCollectApproveRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapCollectApproveResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/collectRequest/getOne": {"get": {"tags": ["Collect Requests"], "summary": "Get Request Details", "description": "Retrieve full metadata for a specific collect request ID.", "operationId": "CollectRoutes_getOne_collectRequest_getOne_get", "parameters": [{"name": "crId", "in": "query", "required": true, "schema": {"type": "string", "title": "Crid"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapCollectDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/vpa/custom/suggestions": {"get": {"tags": ["VPA Management"], "summary": "Get VPA Suggestions", "description": "Generate available custom VPA handles based on user profile data.", "operationId": "CustomVpaRoutes_custom_suggestions_vpa_custom_suggestions_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_VpaSuggestionsModel_"}}}}}}}, "/vpa/custom/claim": {"post": {"tags": ["VPA Management"], "summary": "Claim Custom VPA", "description": "Permanently assign a chosen custom VPA handle to the user profile.", "operationId": "CustomVpaRoutes_custom_claim_vpa_custom_claim_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/vpaRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_ClaimVpaResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/vpa/list": {"get": {"tags": ["VPA Management"], "summary": "List User VPAs", "description": "Retrieve all Virtual Payment Addresses associated with this user.", "operationId": "CustomVpaRoutes_list_vpa_list_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_VpasListResponseModel_"}}}}}}}, "/vpa/custom/status": {"get": {"tags": ["VPA Management"], "summary": "Check VPA Status", "description": "Check if a custom VPA handle is active or pending verification.", "operationId": "CustomVpaRoutes_custom_status_vpa_custom_status_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_GetCustomVpaStatusModel_"}}}}}}}, "/vpa/v1/isAvailable": {"post": {"tags": ["VPA Management"], "summary": "Check VPA Availability", "description": "Verify if a specific VPA handle is currently available for registration.", "operationId": "CustomVpaRoutes_v1_isAvailable_vpa_v1_isAvailable_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CustomerVpaRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_VpaAvailabilityResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/vpa/changeDefault": {"post": {"tags": ["VPA Management"], "summary": "Update Primary VPA", "description": "Change which VPA handle is used by default for receiving payments.", "operationId": "CustomVpaRoutes_changeDefault_vpa_changeDefault_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CustomerVpaRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UserAccountsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/list": {"get": {"tags": ["UPI Mandates"], "summary": "List Mandates", "description": "Fetch all recurring payment mandates (active, paused, or revoked).\n\nstatus_filters is comma separated values. valid values --\n\n`success,unpaused,processing,failed,declined,revoked,paused,completed,deemed,pending`", "operationId": "MandateRoutes_list_mandate_list_get", "parameters": [{"name": "status_filters", "in": "query", "required": true, "schema": {"type": "string", "title": "Status Filters"}}, {"name": "page_size", "in": "query", "required": true, "schema": {"type": "integer", "title": "Page Size"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapMandateIncomingListModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/decline": {"post": {"tags": ["UPI Mandates"], "summary": "Decline Mandate", "description": "Reject an incoming request for a recurring payment mandate.", "operationId": "MandateRoutes_decline_mandate_decline_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapMandateRejectRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapMandateDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/genCredBlock": {"post": {"tags": ["UPI Mandates"], "summary": "Generate Mandate CredBlock", "description": "Create the encrypted credential block required to sign a mandate setup.", "operationId": "MandateRoutes_genCredBlock_mandate_genCredBlock_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapMandateActionRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_CredBlockResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/approve": {"post": {"tags": ["UPI Mandates"], "summary": "Authorize Mandate", "description": "Sign and activate a recurring payment instruction.", "operationId": "MandateRoutes_approve_mandate_approve_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapMandateActionRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapMandateDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/pause": {"post": {"tags": ["UPI Mandates"], "summary": "Pause Mandate", "description": "Temporarily stop future payments for an existing mandate.", "operationId": "MandateRoutes_pause_mandate_pause_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapMandateActionRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapMandateDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/unpause": {"post": {"tags": ["UPI Mandates"], "summary": "Resume Mandate", "description": "Re-enable a previously paused recurring payment mandate.", "operationId": "MandateRoutes_unpause_mandate_unpause_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapMandateActionRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapMandateDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/revoke": {"post": {"tags": ["UPI Mandates"], "summary": "Cancel Mandate", "description": "Permanently terminate a mandate instruction.", "operationId": "MandateRoutes_revoke_mandate_revoke_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/mandate/update": {"post": {"tags": ["UPI Mandates"], "summary": "Modify Mandate", "description": "Update mandate details like validity period or maximum transaction amount.", "operationId": "MandateRoutes_update_mandate_update_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapMandateActionRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapMandateDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/createOrder": {"post": {"tags": ["UPI Mandates"], "summary": "Initialize Mandate Payment", "description": "Create a transaction intent for a specific mandate installment.", "operationId": "MandateRoutes_createOrder_mandate_createOrder_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapCreateMandateRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapCreateMandateResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/executeOrder": {"post": {"tags": ["UPI Mandates"], "summary": "Finalize Mandate Payment", "description": "Submit the mandate transaction to the NPCI switch for execution.", "operationId": "MandateRoutes_executeOrder_mandate_executeOrder_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExecuteMandateCredBlockModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapCreateMandateResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/getOne": {"get": {"tags": ["UPI Mandates"], "summary": "Get Mandate Details", "description": "Retrieve detailed configuration for a specific mandate.", "operationId": "MandateRoutes_getOne_mandate_getOne_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/mandate/txn/list": {"get": {"tags": ["UPI Mandates"], "summary": "Mandate Txn History", "description": "List all transactions processed under a specific mandate ID.", "operationId": "MandateRoutes_txn_list_mandate_txn_list_get", "parameters": [{"name": "mandate_id", "in": "query", "required": true, "schema": {"type": "string", "title": "Mandate Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapMandateDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/upiMapper/list": {"get": {"tags": ["UPI Mapper"], "summary": "List Mapped Numbers", "description": "Retrieve mobile-to-VPA mappings stored in the central UPI mapper.", "operationId": "MapperRoutes_list_upiMapper_list_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UpiNumbersWrapperResponse_"}}}}}}}, "/upiMapper/new": {"post": {"tags": ["UPI Mapper"], "summary": "Create Mapper Entry", "description": "Map a mobile number or UPI number to a specific VPA.", "operationId": "MapperRoutes_new_upiMapper_new_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateUpiNumberRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/upiMapper/update": {"post": {"tags": ["UPI Mapper"], "summary": "Update Mapper", "description": "Change the destination VPA for a currently mapped mobile number.", "operationId": "MapperRoutes_update_upiMapper_update_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateUpiMapperRequestMode"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/upiNumber/isAvailable": {"post": {"tags": ["UPI Mapper"], "summary": "Check UPI Number", "description": "Check if a numeric UPI ID is available for registration.", "operationId": "MapperRoutes_upiNumber_isAvailable_upiNumber_isAvailable_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CheckUpiNumberRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UpiNumberCheckResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/txn/list": {"get": {"tags": ["Transactions"], "summary": "Transaction History", "description": "Fetch the global transaction history for the user profile.", "operationId": "TransactionRoutes_list_txn_list_get", "parameters": [{"name": "acc_type", "in": "query", "required": true, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Acc Type"}}, {"name": "start_time", "in": "query", "required": true, "schema": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Start Time"}}, {"name": "end_time", "in": "query", "required": true, "schema": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "End Time"}}, {"name": "cursor", "in": "query", "required": false, "schema": {"type": "integer", "default": 0, "title": "Cursor"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapTxnListModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/txn/createOrder": {"post": {"tags": ["Transactions"], "summary": "Initialize Payment", "description": "Create an intent for a new peer-to-peer or peer-to-merchant payment.", "operationId": "TransactionRoutes_createOrder_txn_createOrder_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TxnCreateOrderRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapTransactionCompleteDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/txn/executeOrder": {"post": {"tags": ["Transactions"], "summary": "Execute Payment", "description": "Submit an authorized transaction to the bank for final settlement.", "operationId": "TransactionRoutes_executeOrder_txn_executeOrder_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExecuteTxnCredBlockModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapTransactionCompleteDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/txn/getDetails": {"get": {"tags": ["Transactions"], "summary": "Get Transaction Details", "description": "`/getDetails` is guessed due to it being encrypted in source.\n\nTODO: run this frida script at runtime to fetch the actual url\n\n```js\nvar ApiRoutes = Java.use(\"com.fampay.tpap.network.ApiRoutes\");\nblah = ApiRoutes.d.value;\n\nconsole.log(blah);\n```", "operationId": "TransactionRoutes_getTxnDetails_txn_getDetails_get", "parameters": [{"name": "txnID", "in": "query", "required": true, "schema": {"type": "string", "title": "Txnid"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapTransactionCompleteDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/txn/blockAndSpam": {"post": {"tags": ["Transactions"], "summary": "Report User", "description": "Block a VPA and report it as a spam/fraudulent account to NPCI.", "operationId": "TransactionRoutes_blockAndSpam_txn_blockAndSpam_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/MarkSpamBlockRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/udir/create": {"post": {"tags": ["Dispute Management"], "summary": "Raise Dispute", "description": "Initiate a UDIR (Unified Dispute and Issue Resolution) complaint for a failed transaction.", "operationId": "UDIRRoutes_create_udir_create_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UdirCreateRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/udir/status": {"post": {"tags": ["Dispute Management"], "summary": "Check Dispute Status", "description": "Track the progress of an active UDIR dispute case.", "operationId": "UDIRRoutes_status_udir_status_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapUdirStatusCheckPayload"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapUdirStatusCheckResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/delegate/link/remainingLimit": {"post": {"tags": ["Delegate Accounts"], "summary": "Get Delegate Limits", "description": "Check the spending limit remaining for a delegated/child account.", "operationId": "UpiDelegateRoutes_link_remainingLimit_delegate_link_remainingLimit_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DelegationRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UpiDelegateLinkLimitsResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/delegate/payRequest/generateCredBlock": {"post": {"tags": ["Delegate Accounts"], "summary": "Delegate CredBlock", "description": "Generate credentials for a delegate user to sign a payment.", "operationId": "UpiDelegateRoutes_payRequest_generateCredBlock_delegate_payRequest_generateCredBlock_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpiDelegateCollectCredBlockPayload"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_CredBlockAtomicResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/delegate/payRequest/": {"post": {"tags": ["Delegate Accounts"], "summary": "Get Delegate Requests", "description": "Fetch all payment requests waiting for parent approval.", "operationId": "UpiDelegateRoutes_payRequest_delegate_payRequest__post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpiDelegatePaymentPayload"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UpiDelegatePaymentResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/delegate/payRequest/approve": {"post": {"tags": ["Delegate Accounts"], "summary": "Parent Approval", "description": "Authorize a payment request initiated by a delegate account.", "operationId": "UpiDelegateRoutes_payRequest_approve_delegate_payRequest_approve_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpiDelegateCollectActionsPayload"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UpiDelegatePaymentResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/delegate/payRequest/decline": {"post": {"tags": ["Delegate Accounts"], "summary": "Parent Decline", "description": "Reject a payment request initiated by a delegate account.\n\nFor this endpoint --\n\n```python\nschemas.UpiDelegateCollectActionsPayload(\n    collect_request_id = <input>\n    bank_account_unique_id = None\n    cred_block = None\n)\n```", "operationId": "UpiDelegateRoutes_payRequest_decline_delegate_payRequest_decline_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpiDelegateCollectActionsPayload"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/user/v1/getAuthSession": {"post": {"tags": ["User & Security"], "summary": "Get Auth Session", "description": "Retrieve a fresh authentication session for the native UPI SDK.", "operationId": "UserRoutes_v1_getAuthSession_user_v1_getAuthSession_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapAuthSessionRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapAuthSessionResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/user/getAccInfo": {"get": {"tags": ["User & Security"], "summary": "User Account Info", "description": "Fetch general user profile metadata and registration status.", "operationId": "UserRoutes_getAccInfo_user_getAccInfo_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapAuthSessionResponseModel_"}}}}}}}, "/user/generateSimBinding": {"post": {"tags": ["User & Security"], "summary": "Initiate Device Binding", "description": "Start the SIM binding process by generating a unique challenge for SMS verification.", "operationId": "UserRoutes_generateSimBinding_user_generateSimBinding_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapGenerateSimBindingRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapGenerateSimBindingResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/user/verifySimBinding": {"post": {"tags": ["User & Security"], "summary": "Verify Device Binding", "description": "Confirm the SMS challenge to cryptographically bind the device to the user account.", "operationId": "UserRoutes_verifySimBinding_user_verifySimBinding_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapVerifySimBindingRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapSimBindingVerificationResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/user/fetchNPCIToken": {"post": {"tags": ["User & Security"], "summary": "Fetch NPCI Token", "description": "Retrieve the short-lived security token required for NPCI common library interactions.", "operationId": "UserRoutes_fetchNPCIToken_user_fetchNPCIToken_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/FetchNpciTokenRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_NpciTokenData_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/user/deRegister": {"get": {"tags": ["User & Security"], "summary": "De-register UPI", "description": "Permanently wipe the UPI profile and device bindings for this user.", "operationId": "UserRoutes_deRegister_user_deRegister_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/user/genCredBlock": {"post": {"tags": ["User & Security"], "summary": "Global CredBlock", "description": "Generate a generic credential block for miscellaneous secure operations.", "operationId": "UserRoutes_genCredBlock_user_genCredBlock_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CredBlockRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_CredBlockResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/vpa/verify": {"post": {"tags": ["VPA Verification"], "summary": "Verify VPA", "description": "Perform a real-time check against the NPCI mapper to fetch the name of a VPA owner.", "operationId": "VpaVerifyRoutes_verify_vpa_verify_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/VerifyVpaRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/vpa/verifyExt": {"get": {"tags": ["VPA Verification"], "summary": "External VPA Verification", "description": "Extended verification for cross-PSP VPA handles.", "operationId": "VpaVerifyRoutes_verifyExt_vpa_verifyExt_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}}, "components": {"schemas": {"AddBankAccountRequestModel": {"properties": {"bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}, "not_default": {"type": "string", "title": "Not Default"}}, "type": "object", "required": ["bank_account_unique_id", "not_default"], "title": "AddBankAccountRequestModel"}, "AtomicBankModel": {"properties": {"code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "mobRegFormat": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Mobregformat"}, "name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Name"}, "referenceId": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Referenceid"}, "upiEnabled": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Upienabled"}, "isPopular": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Ispopular"}}, "type": "object", "required": ["code", "mobRegFormat", "name", "referenceId", "upiEnabled", "isPopular"], "title": "AtomicBankModel"}, "BankAccountAtomicModel": {"properties": {"bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}, "bank_code": {"type": "string", "title": "Bank Code"}, "bank_name": {"type": "string", "title": "Bank Name"}, "name": {"type": "string", "title": "Name"}, "mask_account_number": {"type": "string", "title": "Mask Account Number"}, "mpin_set": {"type": "boolean", "title": "Mpin Set"}, "mpin_length": {"type": "string", "title": "Mpin Length"}, "type": {"type": "string", "title": "Type"}, "ifsc": {"type": "string", "title": "Ifsc"}, "atm_pin_length": {"type": "string", "title": "Atm Pin Length"}, "is_default": {"type": "boolean", "title": "Is Default"}}, "type": "object", "required": ["bank_account_unique_id", "bank_code", "bank_name", "name", "mask_account_number", "mpin_set", "mpin_length", "type", "ifsc", "atm_pin_length", "is_default"], "title": "BankAccountAtomicModel"}, "BankConsentRequestModel": {"properties": {"consent_type": {"type": "string", "title": "Consent Type", "default": "aadhaar"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}}, "type": "object", "required": ["bank_account_unique_id"], "title": "BankConsentRequestModel"}, "BankUpiVersionsInfo": {"properties": {"code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Name"}, "featuresSupported": {"anyOf": [{"items": {"type": "string"}, "type": "array"}, {"type": "null"}], "title": "Featuressupported"}}, "type": "object", "required": ["code", "name", "featuresSupported"], "title": "BankUpiVersionsInfo"}, "ChangeDefaultAccountRequestModel": {"properties": {"bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}}, "type": "object", "required": ["bank_account_unique_id"], "title": "ChangeDefaultAccountRequestModel"}, "ChangeMpinCredBlockModel": {"properties": {"cred_block": {"additionalProperties": true, "type": "object", "title": "Cred Block"}, "customer_vpa": {"type": "string", "title": "Customer Vpa"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}, "upi_request_id": {"type": "string", "title": "Upi Request Id"}}, "type": "object", "required": ["cred_block", "customer_vpa", "bank_account_unique_id", "upi_request_id"], "title": "ChangeMpinCredBlockModel"}, "CheckBalanceCredBlockModel": {"properties": {"cred_block": {"additionalProperties": true, "type": "object", "title": "Cred Block"}, "customer_vpa": {"type": "string", "title": "Customer Vpa"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}, "upi_request_id": {"type": "string", "title": "Upi Request Id"}}, "type": "object", "required": ["cred_block", "customer_vpa", "bank_account_unique_id", "upi_request_id"], "title": "CheckBalanceCredBlockModel"}, "CheckBalanceResponseModel": {"properties": {"balance": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Balance"}, "outstanding_balance": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Outstanding Balance"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}}, "type": "object", "required": ["balance", "outstanding_balance", "bank_account_unique_id"], "title": "CheckBalanceResponseModel"}, "CheckUpiNumberRequestModel": {"properties": {"upi_number": {"type": "string", "title": "Upi Number"}}, "type": "object", "required": ["upi_number"], "title": "CheckUpiNumberRequestModel"}, "ClaimVpaResponseModel": {"properties": {"vpa": {"type": "string", "title": "Vpa"}, "status": {"type": "integer", "title": "Status"}, "expiry": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Expiry"}}, "type": "object", "required": ["vpa", "status", "expiry"], "title": "ClaimVpaResponseModel"}, "CreateUpiNumberRequestModel": {"properties": {"upi_number": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Upi Number"}, "customer_vpa": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Customer Vpa"}, "action": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Action"}}, "type": "object", "required": ["upi_number", "customer_vpa", "action"], "title": "CreateUpiNumberRequestModel"}, "CredBlockAtomicResponse": {"properties": {"key_code": {"type": "string", "title": "Key Code"}, "xml_payload": {"type": "string", "title": "Xml Payload"}, "controls": {"type": "string", "title": "Controls"}, "configuration": {"type": "string", "title": "Configuration"}, "salt": {"type": "string", "title": "Salt"}, "trust": {"type": "string", "title": "Trust"}, "pay_info": {"type": "string", "title": "Pay Info"}, "language_pref": {"type": "string", "title": "Language Pref"}, "upi_request_id": {"items": {"$ref": "#/components/schemas/UpiRequestTypeIdModel"}, "type": "array", "title": "Upi Request Id"}, "trust_non_sha": {"type": "string", "title": "Trust Non Sha"}}, "type": "object", "required": ["key_code", "xml_payload", "controls", "configuration", "salt", "trust", "pay_info", "language_pref", "upi_request_id", "trust_non_sha"], "title": "CredBlockAtomicResponse"}, "CredBlockRequestModel": {"properties": {"amount": {"type": "string", "title": "Amount"}, "cred_type": {"items": {"type": "string"}, "type": "array", "title": "Cred Type"}, "payee_vpa": {"type": "string", "title": "Payee Vpa"}, "payer_vpa": {"type": "string", "title": "Payer Vpa"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}, "note": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Note"}, "ref_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Ref Id"}, "ref_url": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Ref Url"}, "channel": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Channel"}}, "type": "object", "required": ["amount", "cred_type", "payee_vpa", "payer_vpa", "bank_account_unique_id", "note", "ref_id", "ref_url", "channel"], "title": "CredBlockRequestModel"}, "CredBlockResponse": {"properties": {"cred_block": {"anyOf": [{"$ref": "#/components/schemas/CredBlockAtomicResponse"}, {"type": "null"}]}}, "type": "object", "required": ["cred_block"], "title": "CredBlockResponse"}, "CustomerVpaRequestModel": {"properties": {"customer_vpa": {"type": "string", "title": "Customer Vpa"}}, "type": "object", "required": ["customer_vpa"], "title": "CustomerVpaRequestModel"}, "DelegateeInfo": {"properties": {"delegatee_customer_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Delegatee Customer Id"}, "delegatee_vpa": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Delegatee Vpa"}, "delegatee_name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Delegatee Name"}, "delegatee_mobile_number": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Delegatee Mobile Number"}}, "type": "object", "required": ["delegatee_customer_id", "delegatee_vpa", "delegatee_name", "delegatee_mobile_number"], "title": "DelegateeInfo"}, "DelegationRequest": {"properties": {"delegate_link_id": {"type": "string", "title": "Delegate Link Id"}}, "type": "object", "required": ["delegate_link_id"], "title": "DelegationRequest"}, "EmptyResponse": {"properties": {}, "type": "object", "title": "EmptyResponse"}, "ExecuteMandateCredBlockModel": {"properties": {"cred_block": {"additionalProperties": true, "type": "object", "title": "Cred Block"}, "mandate_id": {"type": "string", "title": "Mandate Id"}}, "type": "object", "required": ["cred_block", "mandate_id"], "title": "ExecuteMandateCredBlockModel"}, "ExecuteTxnCredBlockModel": {"properties": {"cred_block": {"additionalProperties": true, "type": "object", "title": "Cred Block"}, "transaction_id": {"type": "string", "title": "Transaction Id"}}, "type": "object", "required": ["cred_block", "transaction_id"], "title": "ExecuteTxnCredBlockModel"}, "FetchNpciTokenRequestModel": {"properties": {"token_challenge": {"type": "string", "title": "Token Challenge"}, "rotate": {"type": "boolean", "title": "Rotate"}}, "type": "object", "required": ["token_challenge", "rotate"], "title": "FetchNpciTokenRequestModel"}, "GenerateOtpRequestModel": {"properties": {"type": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Type"}, "customer_vpa": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Customer Vpa"}, "bank_account_unique_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Bank Account Unique Id"}, "card_last_six_digits": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Card Last Six Digits"}, "expiry_month": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Expiry Month"}, "expiry_year": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Expiry Year"}, "aadhaar_first_six_digits": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Aadhaar First Six Digits"}, "cred_block_dto": {"anyOf": [{"$ref": "#/components/schemas/CredBlockRequestModel"}, {"type": "null"}]}}, "type": "object", "required": ["type", "customer_vpa", "bank_account_unique_id", "card_last_six_digits", "expiry_month", "expiry_year", "aadhaar_first_six_digits", "cred_block_dto"], "title": "GenerateOtpRequestModel"}, "GenericResponse_CheckBalanceResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/CheckBalanceResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[CheckBalanceResponseModel]"}, "GenericResponse_ClaimVpaResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/ClaimVpaResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[ClaimVpaResponseModel]"}, "GenericResponse_CredBlockAtomicResponse_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/CredBlockAtomicResponse"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[CredBlockAtomicResponse]"}, "GenericResponse_CredBlockResponse_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/CredBlockResponse"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[CredBlockResponse]"}, "GenericResponse_EmptyResponse_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/EmptyResponse"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[EmptyResponse]"}, "GenericResponse_GetCustomVpaStatusModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/GetCustomVpaStatusModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[GetCustomVpaStatusModel]"}, "GenericResponse_LinkedBankAccountsResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/LinkedBankAccountsResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[LinkedBankAccountsResponseModel]"}, "GenericResponse_ListBanksResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/ListBanksResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[ListBanksResponseModel]"}, "GenericResponse_NpciTokenData_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/NpciTokenData"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[NpciTokenData]"}, "GenericResponse_TpapAuthSessionResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapAuthSessionResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapAuthSessionResponseModel]"}, "GenericResponse_TpapCollectApproveResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapCollectApproveResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapCollectApproveResponseModel]"}, "GenericResponse_TpapCollectDetailsModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapCollectDetailsModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapCollectDetailsModel]"}, "GenericResponse_TpapCollectListModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapCollectListModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapCollectListModel]"}, "GenericResponse_TpapCreateMandateResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapCreateMandateResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapCreateMandateResponseModel]"}, "GenericResponse_TpapGenerateSimBindingResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapGenerateSimBindingResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapGenerateSimBindingResponseModel]"}, "GenericResponse_TpapMandateDetailsModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapMandateDetailsModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapMandateDetailsModel]"}, "GenericResponse_TpapMandateIncomingListModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapMandateIncomingListModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapMandateIncomingListModel]"}, "GenericResponse_TpapSimBindingVerificationResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapSimBindingVerificationResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapSimBindingVerificationResponseModel]"}, "GenericResponse_TpapTransactionCompleteDetailsModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapTransactionCompleteDetailsModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapTransactionCompleteDetailsModel]"}, "GenericResponse_TpapTxnListModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapTxnListModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapTxnListModel]"}, "GenericResponse_TpapUdirStatusCheckResponse_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapUdirStatusCheckResponse"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapUdirStatusCheckResponse]"}, "GenericResponse_UpiDelegateLinkLimitsResponse_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/UpiDelegateLinkLimitsResponse"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[UpiDelegateLinkLimitsResponse]"}, "GenericResponse_UpiDelegatePaymentResponse_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/UpiDelegatePaymentResponse"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[UpiDelegatePaymentResponse]"}, "GenericResponse_UpiLiteOnboardingResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/UpiLiteOnboardingResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[UpiLiteOnboardingResponseModel]"}, "GenericResponse_UpiLiteSyncResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/UpiLiteSyncResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[UpiLiteSyncResponseModel]"}, "GenericResponse_UpiNumberCheckResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/UpiNumberCheckResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[UpiNumberCheckResponseModel]"}, "GenericResponse_UpiNumbersWrapperResponse_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/UpiNumbersWrapperResponse"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[UpiNumbersWrapperResponse]"}, "GenericResponse_UpiVersionsResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/UpiVersionsResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[UpiVersionsResponseModel]"}, "GenericResponse_UserAccountModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/UserAccountModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[UserAccountModel]"}, "GenericResponse_UserAccountsModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/UserAccountsModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[UserAccountsModel]"}, "GenericResponse_VpaAvailabilityResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/VpaAvailabilityResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[VpaAvailabilityResponseModel]"}, "GenericResponse_VpaSuggestionsModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/VpaSuggestionsModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[VpaSuggestionsModel]"}, "GenericResponse_VpasListResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/VpasListResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[VpasListResponseModel]"}, "GetCustomVpaStatusModel": {"properties": {"status": {"type": "integer", "title": "Status"}, "vpa": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Vpa"}}, "type": "object", "required": ["status", "vpa"], "title": "GetCustomVpaStatusModel"}, "HTTPValidationError": {"properties": {"detail": {"items": {"$ref": "#/components/schemas/ValidationError"}, "type": "array", "title": "Detail"}}, "type": "object", "title": "HTTPValidationError"}, "LinkedBankAccountsResponseModel": {"properties": {"accounts": {"items": {"$ref": "#/components/schemas/BankAccountAtomicModel"}, "type": "array", "title": "Accounts"}}, "type": "object", "required": ["accounts"], "title": "LinkedBankAccountsResponseModel"}, "ListBanksResponseModel": {"properties": {"banks": {"items": {"$ref": "#/components/schemas/AtomicBankModel"}, "type": "array", "title": "Banks"}}, "type": "object", "required": ["banks"], "title": "ListBanksResponseModel"}, "LocationDetails": {"properties": {"latitude": {"anyOf": [{"type": "number"}, {"type": "null"}], "title": "Latitude"}, "longitude": {"anyOf": [{"type": "number"}, {"type": "null"}], "title": "Longitude"}}, "type": "object", "required": ["latitude", "longitude"], "title": "LocationDetails"}, "MarkSpamBlockRequestModel": {"properties": {"mandate_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Mandate Id"}, "collect_request_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Collect Request Id"}, "should_block": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Should Block"}, "should_spam": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Should Spam"}}, "type": "object", "required": ["mandate_id", "collect_request_id", "should_block", "should_spam"], "title": "MarkSpamBlockRequestModel"}, "NpciTokenData": {"properties": {"npci_token": {"type": "string", "title": "Npci Token"}, "npci_token_decoded": {"type": "string", "title": "Npci Token Decoded"}}, "type": "object", "required": ["npci_token", "npci_token_decoded"], "title": "NpciTokenData"}, "Paginated_TpapCollectDetailsModel_": {"properties": {"count": {"type": "integer", "title": "Count"}, "next": {"type": "string", "title": "Next"}, "previous": {"type": "string", "title": "Previous"}, "results": {"anyOf": [{"items": {"$ref": "#/components/schemas/TpapCollectDetailsModel"}, "type": "array"}, {"type": "null"}], "title": "Results"}}, "type": "object", "required": ["count", "next", "previous", "results"], "title": "Paginated[TpapCollectDetailsModel]"}, "Paginated_TpapMandateDetailsModel_": {"properties": {"count": {"type": "integer", "title": "Count"}, "next": {"type": "string", "title": "Next"}, "previous": {"type": "string", "title": "Previous"}, "results": {"anyOf": [{"items": {"$ref": "#/components/schemas/TpapMandateDetailsModel"}, "type": "array"}, {"type": "null"}], "title": "Results"}}, "type": "object", "required": ["count", "next", "previous", "results"], "title": "Paginated[TpapMandateDetailsModel]"}, "Paginated_TpapTransactionWithIdModel_": {"properties": {"count": {"type": "integer", "title": "Count"}, "next": {"type": "string", "title": "Next"}, "previous": {"type": "string", "title": "Previous"}, "results": {"anyOf": [{"items": {"$ref": "#/components/schemas/TpapTransactionWithIdModel"}, "type": "array"}, {"type": "null"}], "title": "Results"}}, "type": "object", "required": ["count", "next", "previous", "results"], "title": "Paginated[TpapTransactionWithIdModel]"}, "PrimaryDelegationInfo": {"properties": {"delegate_link_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Delegate Link Id"}, "link_type": {"anyOf": [{"$ref": "#/components/schemas/UpiDelegateLinkType"}, {"type": "null"}]}, "link_status": {"anyOf": [{"$ref": "#/components/schemas/UpiDelegateLinkStatus"}, {"type": "null"}]}, "delegator_name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Delegator Name"}, "delegator_vpa": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Delegator Vpa"}, "delegator_mobile_number": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Delegator Mobile Number"}, "delegator_masked_account_number": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Delegator Masked Account Number"}, "delegator_bank_code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Delegator Bank Code"}, "delegator_bank_ifsc": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Delegator Bank Ifsc"}}, "type": "object", "required": ["delegate_link_id", "link_type", "link_status", "delegator_name", "delegator_vpa", "delegator_mobile_number", "delegator_masked_account_number", "delegator_bank_code", "delegator_bank_ifsc"], "title": "PrimaryDelegationInfo"}, "RemoveBankAccountRequestModel": {"properties": {"bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}}, "type": "object", "required": ["bank_account_unique_id"], "title": "RemoveBankAccountRequestModel"}, "SetMpinRequestModel": {"properties": {"type": {"type": "string", "title": "Type"}, "customer_vpa": {"type": "string", "title": "Customer Vpa"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}, "card_last_six_digits": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Card Last Six Digits"}, "expiry_month": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Expiry Month"}, "expiry_year": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Expiry Year"}, "cred_block": {"additionalProperties": true, "type": "object", "title": "Cred Block"}, "upi_request_id": {"type": "string", "title": "Upi Request Id"}}, "type": "object", "required": ["type", "customer_vpa", "bank_account_unique_id", "card_last_six_digits", "expiry_month", "expiry_year", "cred_block", "upi_request_id"], "title": "SetMpinRequestModel"}, "TpapAuthSession": {"properties": {"customer_id": {"type": "string", "title": "Customer Id"}, "device_id": {"type": "string", "title": "Device Id"}, "phone_number": {"type": "string", "title": "Phone Number"}, "country_code": {"type": "string", "title": "Country Code"}, "npci_token": {"type": "string", "title": "Npci Token"}, "npci_token_decoded": {"type": "string", "title": "Npci Token Decoded"}, "device_fingerprint": {"type": "string", "title": "Device Fingerprint"}, "sim_slot": {"type": "string", "title": "Sim Slot"}, "status": {"type": "string", "title": "Status"}, "sms_token": {"type": "string", "title": "Sms Token"}, "token_expiry_time": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Token Expiry Time"}, "system_time": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "System Time"}}, "type": "object", "required": ["customer_id", "device_id", "phone_number", "country_code", "npci_token", "npci_token_decoded", "device_fingerprint", "sim_slot", "status", "sms_token", "token_expiry_time", "system_time"], "title": "TpapAuthSession"}, "TpapAuthSessionRequestModel": {"properties": {"psp_slug": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Psp Slug"}, "should_expire_session": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Should Expire Session"}}, "type": "object", "required": ["psp_slug", "should_expire_session"], "title": "TpapAuthSessionRequestModel"}, "TpapAuthSessionResponseModel": {"properties": {"auth_session": {"anyOf": [{"$ref": "#/components/schemas/TpapAuthSession"}, {"type": "null"}]}, "acc_info": {"anyOf": [{"$ref": "#/components/schemas/UserAccountsModel"}, {"type": "null"}]}, "delegate_info": {"anyOf": [{"$ref": "#/components/schemas/PrimaryDelegationInfo"}, {"type": "null"}]}, "user_journey_state": {"anyOf": [{"$ref": "#/components/schemas/UserJourneyState"}, {"type": "null"}]}, "has_been_secondary_in_upi_circle": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Has Been Secondary In Upi Circle"}}, "type": "object", "required": ["auth_session", "acc_info", "delegate_info", "user_journey_state", "has_been_secondary_in_upi_circle"], "title": "TpapAuthSessionResponseModel"}, "TpapCollectApproveRequestModel": {"properties": {"cred_block": {"anyOf": [{"additionalProperties": true, "type": "object"}, {"type": "null"}], "title": "Cred Block"}, "collect_request_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Collect Request Id"}, "bank_account_unique_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Bank Account Unique Id"}}, "type": "object", "required": ["cred_block", "collect_request_id", "bank_account_unique_id"], "title": "TpapCollectApproveRequestModel"}, "TpapCollectApproveResponseModel": {"properties": {"collect_request": {"$ref": "#/components/schemas/TpapCollectDetailsModel"}, "txn_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Txn Id"}}, "type": "object", "required": ["collect_request", "txn_id"], "title": "TpapCollectApproveResponseModel"}, "TpapCollectAtomicModel": {"properties": {"collect_type": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Collect Type"}, "amount": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Amount"}, "status": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Status"}, "is_incoming": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Incoming"}, "payee_vpa": {"anyOf": [{"$ref": "#/components/schemas/VpaAddressWithIdModel"}, {"type": "null"}]}, "payer_vpa": {"anyOf": [{"$ref": "#/components/schemas/VpaAddressWithIdModel"}, {"type": "null"}]}, "expiry": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Expiry"}, "is_verified_payee": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Verified Payee"}, "is_marked_spam": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Marked Spam"}, "seq_number": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Seq Number"}, "delegatee_info": {"anyOf": [{"$ref": "#/components/schemas/DelegateeInfo"}, {"type": "null"}]}}, "type": "object", "required": ["collect_type", "amount", "status", "is_incoming", "payee_vpa", "payer_vpa", "expiry", "is_verified_payee", "is_marked_spam", "seq_number", "delegatee_info"], "title": "TpapCollectAtomicModel"}, "TpapCollectCreateRequestModel": {"properties": {"init_mode": {"type": "string", "title": "Init Mode"}, "currency": {"type": "string", "title": "Currency"}, "amount": {"type": "string", "title": "Amount"}, "beneficiary_id": {"type": "string", "title": "Beneficiary Id"}, "remarks": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Remarks"}, "purpose_code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Purpose Code"}}, "type": "object", "required": ["init_mode", "currency", "amount", "beneficiary_id", "remarks", "purpose_code"], "title": "TpapCollectCreateRequestModel"}, "TpapCollectDetailsModel": {"properties": {"id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Id"}, "created_at": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Created At"}, "collect_request": {"$ref": "#/components/schemas/TpapCollectAtomicModel"}}, "type": "object", "required": ["id", "created_at", "collect_request"], "title": "TpapCollectDetailsModel"}, "TpapCollectListModel": {"properties": {"collect_requests": {"$ref": "#/components/schemas/Paginated_TpapCollectDetailsModel_"}}, "type": "object", "required": ["collect_requests"], "title": "TpapCollectListModel"}, "TpapCollectRejectRequestModel": {"properties": {"collect_request_id": {"type": "string", "title": "Collect Request Id"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}}, "type": "object", "required": ["collect_request_id", "bank_account_unique_id"], "title": "TpapCollectRejectRequestModel"}, "TpapComplaintDetailsModel": {"properties": {"complaint_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Complaint Id"}, "current_status": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Current Status"}, "complaint_raise_time": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Complaint Raise Time"}, "udir_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Udir Id"}}, "type": "object", "required": ["complaint_id", "current_status", "complaint_raise_time", "udir_id"], "title": "TpapComplaintDetailsModel"}, "TpapComplaintStatusModel": {"properties": {"status": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Status"}, "timestamp": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Timestamp"}}, "type": "object", "required": ["status", "timestamp"], "title": "TpapComplaintStatusModel"}, "TpapCreateMandateRequestModel": {"properties": {"amount": {"type": "string", "title": "Amount"}, "amount_rule": {"type": "string", "title": "Amount Rule"}, "initiation_mode": {"type": "string", "title": "Initiation Mode"}, "mandate_name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Mandate Name"}, "mandate_type": {"type": "string", "title": "Mandate Type"}, "payee_vpa": {"type": "string", "title": "Payee Vpa"}, "purpose_code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Purpose Code"}, "recurrence_rule": {"type": "string", "title": "Recurrence Rule"}, "recurrence_pattern": {"type": "string", "title": "Recurrence Pattern"}, "status": {"type": "string", "title": "Status", "default": "initiated"}, "upi_request_id": {"type": "string", "title": "Upi Request Id"}, "validity_end": {"type": "integer", "title": "Validity End"}, "validity_start": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Validity Start"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}, "mcc": {"type": "string", "title": "Mcc"}, "remarks": {"type": "string", "title": "Remarks"}, "recurrence_value": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Recurrence Value"}, "ref_url": {"type": "string", "title": "Ref Url"}, "transaction_reference": {"type": "string", "title": "Transaction Reference"}, "recipient_name": {"type": "string", "title": "Recipient Name"}, "payer_revocable": {"type": "boolean", "title": "Payer Revocable"}}, "type": "object", "required": ["amount", "amount_rule", "initiation_mode", "mandate_name", "mandate_type", "payee_vpa", "purpose_code", "recurrence_rule", "recurrence_pattern", "upi_request_id", "validity_end", "validity_start", "bank_account_unique_id", "mcc", "remarks", "recurrence_value", "ref_url", "transaction_reference", "recipient_name", "payer_revocable"], "title": "TpapCreateMandateRequestModel"}, "TpapCreateMandateResponseModel": {"properties": {"mandate_details": {"$ref": "#/components/schemas/TpapMandateDetailsModel"}, "cred_block_resp": {"anyOf": [{"$ref": "#/components/schemas/CredBlockAtomicResponse"}, {"type": "null"}]}}, "type": "object", "required": ["mandate_details", "cred_block_resp"], "title": "TpapCreateMandateResponseModel"}, "TpapDeviceInfoModel": {"properties": {"manufacturer": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Manufacturer"}, "model": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Model"}, "version": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Version"}, "os": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Os"}, "device_id": {"type": "string", "title": "Device Id"}, "sim_slot": {"type": "string", "title": "Sim Slot"}, "package_name": {"type": "string", "title": "Package Name"}}, "type": "object", "required": ["manufacturer", "model", "version", "os", "device_id", "sim_slot", "package_name"], "title": "TpapDeviceInfoModel"}, "TpapGenerateSimBindingRequestModel": {"properties": {"client_session_id": {"type": "string", "title": "Client Session Id"}, "phone_number": {"type": "string", "title": "Phone Number"}, "country_code": {"type": "string", "title": "Country Code"}, "device_details": {"$ref": "#/components/schemas/TpapDeviceInfoModel"}}, "type": "object", "required": ["client_session_id", "phone_number", "country_code", "device_details"], "title": "TpapGenerateSimBindingRequestModel"}, "TpapGenerateSimBindingResponseModel": {"properties": {"sms_content": {"type": "string", "title": "Sms Content"}, "expiry_timestamp": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Expiry Timestamp"}, "service_providers": {"anyOf": [{"items": {"$ref": "#/components/schemas/TpapVmnModel"}, "type": "array"}, {"type": "null"}], "title": "Service Providers"}}, "type": "object", "required": ["sms_content", "expiry_timestamp", "service_providers"], "title": "TpapGenerateSimBindingResponseModel"}, "TpapMandateActionRequestModel": {"properties": {"cred_block": {"additionalProperties": true, "type": "object", "title": "Cred Block"}, "type": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Type"}, "mandate_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Mandate Id"}, "bank_account_unique_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Bank Account Unique Id"}, "remarks": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Remarks"}, "pause_end_timestamp": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Pause End Timestamp"}, "upi_request_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Upi Request Id"}, "validity_end": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Validity End"}, "amount": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Amount"}}, "type": "object", "required": ["cred_block", "type", "mandate_id", "bank_account_unique_id", "remarks", "pause_end_timestamp", "upi_request_id", "validity_end", "amount"], "title": "TpapMandateActionRequestModel"}, "TpapMandateAtomicDetailsModel": {"properties": {"created_by": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Created By"}, "mandate_type": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Mandate Type"}, "is_incoming": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Incoming"}, "upi_request_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Upi Request Id"}, "mandate_name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Mandate Name"}, "amount_rule": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Amount Rule"}, "recurrence_rule": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Recurrence Rule"}, "recurrence_pattern": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Recurrence Pattern"}, "recurrence_value": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Recurrence Value"}, "amount": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Amount"}, "status": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Status"}, "validity_end": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Validity End"}, "payer_bank_account": {"anyOf": [{"$ref": "#/components/schemas/UserBankAccountModel"}, {"type": "null"}]}, "pause_start": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Pause Start"}, "pause_end": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Pause End"}, "payee_vpa": {"anyOf": [{"$ref": "#/components/schemas/VpaAddressWithIdModel"}, {"type": "null"}]}, "payee_name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Payee Name"}, "umn": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Umn"}, "is_verified_payee": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Verified Payee"}, "is_marked_spam": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Marked Spam"}}, "type": "object", "required": ["created_by", "mandate_type", "is_incoming", "upi_request_id", "mandate_name", "amount_rule", "recurrence_rule", "recurrence_pattern", "recurrence_value", "amount", "status", "validity_end", "payer_bank_account", "pause_start", "pause_end", "payee_vpa", "payee_name", "umn", "is_verified_payee", "is_marked_spam"], "title": "TpapMandateAtomicDetailsModel"}, "TpapMandateDetailsModel": {"properties": {"id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Id"}, "created_at": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Created At"}, "mandate": {"$ref": "#/components/schemas/TpapMandateAtomicDetailsModel"}}, "type": "object", "required": ["id", "created_at", "mandate"], "title": "TpapMandateDetailsModel"}, "TpapMandateIncomingListModel": {"properties": {"mandates": {"$ref": "#/components/schemas/Paginated_TpapMandateDetailsModel_"}}, "type": "object", "required": ["mandates"], "title": "TpapMandateIncomingListModel"}, "TpapMandateRejectRequestModel": {"properties": {"mandate_id": {"type": "string", "title": "Mandate Id"}}, "type": "object", "required": ["mandate_id"], "title": "TpapMandateRejectRequestModel"}, "TpapSimBindingStatus": {"type": "integer", "enum": [0, 1], "title": "TpapSimBindingStatus"}, "TpapSimBindingVerificationResponseModel": {"properties": {"status": {"$ref": "#/components/schemas/TpapSimBindingStatus"}}, "type": "object", "required": ["status"], "title": "TpapSimBindingVerificationResponseModel"}, "TpapTransactionCompleteDetailsModel": {"properties": {"transaction_with_id": {"anyOf": [{"$ref": "#/components/schemas/TpapTransactionWithIdModel"}, {"type": "null"}]}, "cred_block_resp": {"anyOf": [{"$ref": "#/components/schemas/CredBlockAtomicResponse"}, {"type": "null"}]}, "complaint_details": {"anyOf": [{"$ref": "#/components/schemas/TpapComplaintDetailsModel"}, {"type": "null"}]}, "mandate_with_id": {"anyOf": [{"$ref": "#/components/schemas/TpapMandateDetailsModel"}, {"type": "null"}]}}, "type": "object", "required": ["transaction_with_id", "cred_block_resp", "complaint_details", "mandate_with_id"], "title": "TpapTransactionCompleteDetailsModel"}, "TpapTransactionExtraData": {"properties": {"remarks": {"type": "string", "title": "Remarks"}, "additional_amount": {"$ref": "#/components/schemas/TpapTransactionExtraData2"}}, "type": "object", "required": ["remarks", "additional_amount"], "title": "TpapTransactionExtraData"}, "TpapTransactionExtraData2": {"properties": {"famcash": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Famcash"}, "additional_fee": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Additional Fee"}}, "type": "object", "required": ["famcash", "additional_fee"], "title": "TpapTransactionExtraData2"}, "TpapTransactionWithIdModel": {"properties": {"id": {"type": "string", "title": "Id"}, "created_at": {"type": "integer", "title": "Created At"}, "transaction": {"$ref": "#/components/schemas/TpapTxnAtomicModel"}}, "type": "object", "required": ["id", "created_at", "transaction"], "title": "TpapTransactionWithIdModel"}, "TpapTxnAtomicModel": {"properties": {"status": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Status"}, "amount": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Amount"}, "utr": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Utr"}, "transaction_type": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Transaction Type"}, "entry_type": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Entry Type"}, "transaction_channel": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Transaction Channel"}, "source": {"anyOf": [{"$ref": "#/components/schemas/TpapTxnPoint"}, {"type": "null"}]}, "destination": {"anyOf": [{"$ref": "#/components/schemas/TpapTxnPoint"}, {"type": "null"}]}, "collect_request": {"anyOf": [{"$ref": "#/components/schemas/TpapCollectDetailsModel"}, {"type": "null"}]}, "mcc": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Mcc"}, "mandate_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Mandate Id"}, "id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Id"}, "status_changes": {"anyOf": [{"items": {"$ref": "#/components/schemas/TxnStatusTimeStampModel"}, "type": "array"}, {"type": "null"}], "title": "Status Changes"}, "user_bank_account": {"anyOf": [{"$ref": "#/components/schemas/UserBankAccountModel"}, {"type": "null"}]}, "extra_data": {"anyOf": [{"$ref": "#/components/schemas/TpapTransactionExtraData"}, {"type": "null"}]}}, "type": "object", "required": ["status", "amount", "utr", "transaction_type", "entry_type", "transaction_channel", "source", "destination", "collect_request", "mcc", "mandate_id", "id", "status_changes", "user_bank_account", "extra_data"], "title": "TpapTxnAtomicModel"}, "TpapTxnListModel": {"properties": {"transactions": {"$ref": "#/components/schemas/Paginated_TpapTransactionWithIdModel_"}}, "type": "object", "required": ["transactions"], "title": "TpapTxnListModel"}, "TpapTxnPoint": {"properties": {"user_lite_bank_account": {"anyOf": [{"$ref": "#/components/schemas/UpiLiteAccountDetails"}, {"type": "null"}]}}, "type": "object", "required": ["user_lite_bank_account"], "title": "TpapTxnPoint"}, "TpapUdirStatusCheckPayload": {"properties": {"udir_id": {"type": "string", "title": "Udir Id"}}, "type": "object", "required": ["udir_id"], "title": "TpapUdirStatusCheckPayload"}, "TpapUdirStatusCheckResponse": {"properties": {"id": {"type": "string", "title": "Id"}, "udir": {"$ref": "#/components/schemas/UdirDetailsModel"}, "created_at": {"type": "integer", "title": "Created At"}}, "type": "object", "required": ["id", "udir", "created_at"], "title": "TpapUdirStatusCheckResponse"}, "TpapVerifySimBindingRequestModel": {"properties": {"client_session_id": {"type": "string", "title": "Client Session Id"}, "phone_number": {"type": "string", "title": "Phone Number"}, "country_code": {"type": "string", "title": "Country Code"}, "device_id": {"type": "string", "title": "Device Id"}}, "type": "object", "required": ["client_session_id", "phone_number", "country_code", "device_id"], "title": "TpapVerifySimBindingRequestModel"}, "TpapVmnModel": {"properties": {"name": {"type": "string", "title": "Name"}, "number": {"type": "string", "title": "Number"}}, "type": "object", "required": ["name", "number"], "title": "TpapVmnModel"}, "TxnCreateOrderRequestModel": {"properties": {"transaction_type": {"type": "string", "title": "Transaction Type"}, "init_mode": {"type": "string", "title": "Init Mode"}, "is_uploaded_from_gallery": {"type": "boolean", "title": "Is Uploaded From Gallery"}, "currency": {"type": "string", "title": "Currency", "default": "INR"}, "amount": {"type": "string", "title": "Amount"}, "beneficiary_id": {"type": "string", "title": "Beneficiary Id"}, "dest_bank_account_unique_id": {"type": "string", "title": "Dest Bank Account Unique Id"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}, "mcc": {"type": "string", "title": "Mcc"}, "remarks": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Remarks"}, "purpose_code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Purpose Code", "default": "00"}, "ref_url": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Ref Url"}, "ref_category": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Ref Category"}, "transaction_ref": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Transaction Ref"}, "txn_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Txn Id"}, "is_indirect_txn": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Indirect Txn"}, "location": {"anyOf": [{"$ref": "#/components/schemas/LocationDetails"}, {"type": "null"}]}}, "type": "object", "required": ["transaction_type", "init_mode", "is_uploaded_from_gallery", "amount", "beneficiary_id", "dest_bank_account_unique_id", "bank_account_unique_id", "mcc", "remarks", "ref_url", "ref_category", "transaction_ref", "txn_id", "is_indirect_txn", "location"], "title": "TxnCreateOrderRequestModel"}, "TxnStatusTimeStampModel": {"properties": {"status": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Status"}, "timestamp": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Timestamp"}}, "type": "object", "required": ["status", "timestamp"], "title": "TxnStatusTimeStampModel"}, "UdirCreateRequest": {"properties": {"adj_flag": {"type": "string", "title": "Adj Flag"}, "adj_code": {"type": "string", "title": "Adj Code"}, "txn_utr": {"type": "string", "title": "Txn Utr"}, "transaction_id": {"type": "string", "title": "Transaction Id"}, "udir_type": {"type": "string", "title": "Udir Type"}}, "type": "object", "required": ["adj_flag", "adj_code", "txn_utr", "transaction_id", "udir_type"], "title": "UdirCreateRequest"}, "UdirDetailsModel": {"properties": {"crn": {"type": "string", "title": "Crn"}, "status": {"type": "string", "title": "Status"}, "gatewayResponseMessage": {"type": "string", "title": "Gatewayresponsemessage"}, "status_changes": {"anyOf": [{"items": {"$ref": "#/components/schemas/TpapComplaintStatusModel"}, "type": "array"}, {"type": "null"}], "title": "Status Changes"}}, "type": "object", "required": ["crn", "status", "gatewayResponseMessage", "status_changes"], "title": "UdirDetailsModel"}, "UpdateUpiMapperRequestMode": {"properties": {"upi_number_map_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Upi Number Map Id"}, "action": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Action"}, "new_vpa": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "New Vpa"}}, "type": "object", "required": ["upi_number_map_id", "action", "new_vpa"], "title": "UpdateUpiMapperRequestMode"}, "UpiDelegateCollectActionsPayload": {"properties": {"collect_request_id": {"type": "string", "title": "Collect Request Id"}, "bank_account_unique_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Bank Account Unique Id"}, "cred_block": {"anyOf": [{"additionalProperties": true, "type": "object"}, {"type": "null"}], "title": "Cred Block"}}, "type": "object", "required": ["collect_request_id", "bank_account_unique_id", "cred_block"], "title": "UpiDelegateCollectActionsPayload"}, "UpiDelegateCollectCredBlockPayload": {"properties": {"collect_request_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Collect Request Id"}, "bank_account_unique_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Bank Account Unique Id"}}, "type": "object", "required": ["collect_request_id", "bank_account_unique_id"], "title": "UpiDelegateCollectCredBlockPayload"}, "UpiDelegateLinkLimitsResponse": {"properties": {"delegate_link_id": {"type": "string", "title": "Delegate Link Id"}, "remaining_balance": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Remaining Balance"}, "total_limit": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Total Limit"}, "per_transaction_limit": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Per Transaction Limit"}, "link_type": {"anyOf": [{"$ref": "#/components/schemas/UpiDelegateLinkType"}, {"type": "null"}]}}, "type": "object", "required": ["delegate_link_id", "remaining_balance", "total_limit", "per_transaction_limit", "link_type"], "title": "UpiDelegateLinkLimitsResponse"}, "UpiDelegateLinkStatus": {"type": "string", "enum": ["INITIATED", "REQUESTED", "PENDING", "LINKED", "DELINKED", "LINKING_REQUEST_EXPIRED", "LINK_EXPIRED", "DECLINED"], "title": "UpiDelegateLinkStatus"}, "UpiDelegateLinkType": {"type": "string", "enum": ["FULL", "PARTIAL"], "title": "UpiDelegateLinkType"}, "UpiDelegatePaymentPayload": {"properties": {"transaction_type": {"type": "string", "title": "Transaction Type"}, "init_mode": {"type": "string", "title": "Init Mode"}, "currency": {"type": "string", "title": "Currency", "default": "INR"}, "amount": {"type": "string", "title": "Amount"}, "beneficiary_id": {"type": "string", "title": "Beneficiary Id"}, "destination_bank_account_unique_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Destination Bank Account Unique Id"}, "delegate_link_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Delegate Link Id"}, "mcc": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Mcc"}, "remarks": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Remarks"}, "ref_url": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Ref Url"}, "ref_category": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Ref Category"}, "transaction_ref": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Transaction Ref"}, "is_indirect_txn": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Indirect Txn"}, "location": {"anyOf": [{"$ref": "#/components/schemas/LocationDetails"}, {"type": "null"}]}}, "type": "object", "required": ["transaction_type", "init_mode", "
[...]
