{"openapi": "3.1.0", "info": {"title": "Fampay Banking API", "description": "Internal API for managing UPI transactions, bank accounts, and VPA mappings.", "version": "1.0.0"}, "servers": [{"url": "https://hogwarts.famapp.in/halfblood/", "description": "Fampay's Prod Server"}], "paths": {"/bank/list": {"get": {"tags": ["Bank Management"], "summary": "List Supported Banks", "description": "Fetch a list of all NPCI-supported banks available for linking.", "operationId": "BankRoutes_list_bank_list_get", "parameters": [{"name": "showCreditLines", "in": "query", "required": true, "schema": {"type": "boolean", "title": "Showcreditlines"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_ListBanksResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/consent": {"post": {"tags": ["Bank Management"], "summary": "Account Linking Consent", "description": "Retrieve or submit user consent forms required for account aggregation and linking.", "operationId": "BankRoutes_account_consent_bank_account_consent_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BankConsentRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/setMpin": {"post": {"tags": ["Bank Management"], "summary": "Set UPI PIN", "description": "Initiate the flow to set a new 4 or 6-digit UPI MPIN for a specific bank account.", "operationId": "BankRoutes_account_setMpin_bank_account_setMpin_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/SetMpinRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/changeMpin": {"post": {"tags": ["Bank Management"], "summary": "Change UPI PIN", "description": "Update an existing UPI MPIN by providing the old credentials and new PIN.", "operationId": "BankRoutes_account_changeMpin_bank_account_changeMpin_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChangeMpinCredBlockModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/checkBalance": {"post": {"tags": ["Bank Management"], "summary": "Check Account Balance", "description": "Securely retrieve the current balance using an encrypted Credential Block.", "operationId": "BankRoutes_account_checkBalance_bank_account_checkBalance_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CheckBalanceCredBlockModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_CheckBalanceResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/delete": {"post": {"tags": ["Bank Management"], "summary": "Unlink Bank Account", "description": "Remove a linked bank account from the user's UPI profile.", "operationId": "BankRoutes_account_delete_bank_account_delete_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/RemoveBankAccountRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UserAccountModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/changeDefault": {"post": {"tags": ["Bank Management"], "summary": "Set Default Account", "description": "Set the primary bank account for all incoming and outgoing UPI transactions.", "operationId": "BankRoutes_account_changeDefault_bank_account_changeDefault_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChangeDefaultAccountRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UserAccountModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/generateOTP": {"post": {"tags": ["Bank Management"], "summary": "Request Bank OTP", "description": "Trigger a bank-generated OTP for sensitive operations like resetting an MPIN.", "operationId": "BankRoutes_account_generateOTP_bank_account_generateOTP_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenerateOtpRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_CredBlockResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/list": {"get": {"tags": ["Bank Management"], "summary": "List Linked Accounts", "description": "Retrieve all bank accounts currently linked to the user's profile.", "operationId": "BankRoutes_account_list_bank_account_list_get", "parameters": [{"name": "bankCode", "in": "query", "required": true, "schema": {"type": "string", "title": "Bankcode"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_LinkedBankAccountsResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/account/add": {"post": {"tags": ["Bank Management"], "summary": "Add Bank Account", "description": "Link a new bank account by discovering accounts associated with the registered mobile number.", "operationId": "BankRoutes_account_add_bank_account_add_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AddBankAccountRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UserAccountsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/lite/add": {"post": {"tags": ["Bank Management"], "summary": "Enable UPI Lite", "description": "Onboard the user to UPI Lite for small-value, PIN-less transactions.", "operationId": "BankRoutes_lite_add_bank_lite_add_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpiLiteOnboardingRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UpiLiteOnboardingResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/bank/lite/delete": {"post": {"tags": ["Bank Management"], "summary": "Disable UPI Lite", "description": "Deactivate the UPI Lite wallet and refund the remaining balance to the linked bank account.", "operationId": "BankRoutes_lite_delete_bank_lite_delete_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UpiLiteSyncResponseModel_"}}}}}}}, "/bank/lite/sync": {"post": {"tags": ["Bank Management"], "summary": "Sync UPI Lite Balance", "description": "Synchronize local on-device wallet balance with the server-side ledger.", "operationId": "BankRoutes_lite_sync_bank_lite_sync_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UpiLiteSyncResponseModel_"}}}}}}}, "/bank/upiVersions": {"get": {"tags": ["Bank Management"], "summary": "UPI Protocol Versions", "description": "Check compatible UPI SDK and protocol versions supported by the backend.\n\nNote: `bankCode` is equal to --\n\n```python\nsome: list[str] = [...]\n\nbankCode = \",\".join(some[:62])\n```", "operationId": "BankRoutes_upiVersions_bank_upiVersions_get", "parameters": [{"name": "bankCodes", "in": "query", "required": true, "schema": {"type": "string", "title": "Bankcodes"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UpiVersionsResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/collectRequest/new": {"post": {"tags": ["Collect Requests"], "summary": "Initiate Collect Request", "description": "Create a request to pull funds from a third-party VPA.", "operationId": "CollectRoutes_new_collectRequest_new_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapCollectCreateRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapCollectDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/collectRequest/list": {"get": {"tags": ["Collect Requests"], "summary": "List Incoming Requests", "description": "Fetch all pending collect requests sent to the user.", "operationId": "CollectRoutes_list_collectRequest_list_get", "parameters": [{"name": "flow", "in": "query", "required": false, "schema": {"type": "string", "default": "incoming", "title": "Flow"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapCollectListModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/collectRequest/genCredBlock": {"post": {"tags": ["Collect Requests"], "summary": "Generate Payment CredBlock", "description": "Generate the encrypted payload required to authorize a collect request payment.", "operationId": "CollectRoutes_genCredBlock_collectRequest_genCredBlock_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapCollectApproveRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_CredBlockResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/collectRequest/reject": {"post": {"tags": ["Collect Requests"], "summary": "Reject Collect Request", "description": "Decline an incoming payment request from another user or merchant.", "operationId": "CollectRoutes_reject_collectRequest_reject_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapCollectRejectRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapCollectDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/collectRequest/approve": {"post": {"tags": ["Collect Requests"], "summary": "Approve Collect Request", "description": "Authorize and execute a collect request payment.", "operationId": "CollectRoutes_approve_collectRequest_approve_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapCollectApproveRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapCollectApproveResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/collectRequest/getOne": {"get": {"tags": ["Collect Requests"], "summary": "Get Request Details", "description": "Retrieve full metadata for a specific collect request ID.", "operationId": "CollectRoutes_getOne_collectRequest_getOne_get", "parameters": [{"name": "crId", "in": "query", "required": true, "schema": {"type": "string", "title": "Crid"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapCollectDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/vpa/custom/suggestions": {"get": {"tags": ["VPA Management"], "summary": "Get VPA Suggestions", "description": "Generate available custom VPA handles based on user profile data.", "operationId": "CustomVpaRoutes_custom_suggestions_vpa_custom_suggestions_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_VpaSuggestionsModel_"}}}}}}}, "/vpa/custom/claim": {"post": {"tags": ["VPA Management"], "summary": "Claim Custom VPA", "description": "Permanently assign a chosen custom VPA handle to the user profile.", "operationId": "CustomVpaRoutes_custom_claim_vpa_custom_claim_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/vpaRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_ClaimVpaResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/vpa/list": {"get": {"tags": ["VPA Management"], "summary": "List User VPAs", "description": "Retrieve all Virtual Payment Addresses associated with this user.", "operationId": "CustomVpaRoutes_list_vpa_list_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_VpasListResponseModel_"}}}}}}}, "/vpa/custom/status": {"get": {"tags": ["VPA Management"], "summary": "Check VPA Status", "description": "Check if a custom VPA handle is active or pending verification.", "operationId": "CustomVpaRoutes_custom_status_vpa_custom_status_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_GetCustomVpaStatusModel_"}}}}}}}, "/vpa/v1/isAvailable": {"post": {"tags": ["VPA Management"], "summary": "Check VPA Availability", "description": "Verify if a specific VPA handle is currently available for registration.", "operationId": "CustomVpaRoutes_v1_isAvailable_vpa_v1_isAvailable_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CustomerVpaRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_VpaAvailabilityResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/vpa/changeDefault": {"post": {"tags": ["VPA Management"], "summary": "Update Primary VPA", "description": "Change which VPA handle is used by default for receiving payments.", "operationId": "CustomVpaRoutes_changeDefault_vpa_changeDefault_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CustomerVpaRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_UserAccountsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/list": {"get": {"tags": ["UPI Mandates"], "summary": "List Mandates", "description": "Fetch all recurring payment mandates (active, paused, or revoked).\n\nstatus_filters is comma separated values. valid values --\n\n`success,unpaused,processing,failed,declined,revoked,paused,completed,deemed,pending`", "operationId": "MandateRoutes_list_mandate_list_get", "parameters": [{"name": "status_filters", "in": "query", "required": true, "schema": {"type": "string", "title": "Status Filters"}}, {"name": "page_size", "in": "query", "required": true, "schema": {"type": "integer", "title": "Page Size"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapMandateIncomingListModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/decline": {"post": {"tags": ["UPI Mandates"], "summary": "Decline Mandate", "description": "Reject an incoming request for a recurring payment mandate.", "operationId": "MandateRoutes_decline_mandate_decline_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapMandateRejectRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapMandateDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/genCredBlock": {"post": {"tags": ["UPI Mandates"], "summary": "Generate Mandate CredBlock", "description": "Create the encrypted credential block required to sign a mandate setup.", "operationId": "MandateRoutes_genCredBlock_mandate_genCredBlock_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapMandateActionRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_CredBlockResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/approve": {"post": {"tags": ["UPI Mandates"], "summary": "Authorize Mandate", "description": "Sign and activate a recurring payment instruction.", "operationId": "MandateRoutes_approve_mandate_approve_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapMandateActionRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapMandateDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/pause": {"post": {"tags": ["UPI Mandates"], "summary": "Pause Mandate", "description": "Temporarily stop future payments for an existing mandate.", "operationId": "MandateRoutes_pause_mandate_pause_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapMandateActionRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapMandateDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/unpause": {"post": {"tags": ["UPI Mandates"], "summary": "Resume Mandate", "description": "Re-enable a previously paused recurring payment mandate.", "operationId": "MandateRoutes_unpause_mandate_unpause_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapMandateActionRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapMandateDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/revoke": {"post": {"tags": ["UPI Mandates"], "summary": "Cancel Mandate", "description": "Permanently terminate a mandate instruction.", "operationId": "MandateRoutes_revoke_mandate_revoke_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/mandate/update": {"post": {"tags": ["UPI Mandates"], "summary": "Modify Mandate", "description": "Update mandate details like validity period or maximum transaction amount.", "operationId": "MandateRoutes_update_mandate_update_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapMandateActionRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapMandateDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/createOrder": {"post": {"tags": ["UPI Mandates"], "summary": "Initialize Mandate Payment", "description": "Create a transaction intent for a specific mandate installment.", "operationId": "MandateRoutes_createOrder_mandate_createOrder_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TpapCreateMandateRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapCreateMandateResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/executeOrder": {"post": {"tags": ["UPI Mandates"], "summary": "Finalize Mandate Payment", "description": "Submit the mandate transaction to the NPCI switch for execution.", "operationId": "MandateRoutes_executeOrder_mandate_executeOrder_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExecuteMandateCredBlockModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapCreateMandateResponseModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/mandate/getOne": {"get": {"tags": ["UPI Mandates"], "summary": "Get Mandate Details", "description": "Retrieve detailed configuration for a specific mandate.", "operationId": "MandateRoutes_getOne_mandate_getOne_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/mandate/txn/list": {"get": {"tags": ["UPI Mandates"], "summary": "Mandate Txn History", "description": "List all transactions processed under a specific mandate ID.", "operationId": "MandateRoutes_txn_list_mandate_txn_list_get", "parameters": [{"name": "mandate_id", "in": "query", "required": true, "schema": {"type": "string", "title": "Mandate Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_TpapMandateDetailsModel_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/upiMapper/list": {"get": {"tags": ["UPI Mapper"], "summary": "List Mapped Numbers", "description": "Retrieve mobile-to-VPA mappings stored in the central UPI mapper.", "operationId": "MapperRoutes_list_upiMapper_list_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/upiMapper/new": {"get": {"tags": ["UPI Mapper"], "summary": "Create Mapper Entry", "description": "Map a mobile number or UPI number to a specific VPA.", "operationId": "MapperRoutes_new_upiMapper_new_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/upiMapper/update": {"get": {"tags": ["UPI Mapper"], "summary": "Update Mapper", "description": "Change the destination VPA for a currently mapped mobile number.", "operationId": "MapperRoutes_update_upiMapper_update_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/upiNumber/isAvailable": {"get": {"tags": ["UPI Mapper"], "summary": "Check UPI Number", "description": "Check if a numeric UPI ID is available for registration.", "operationId": "MapperRoutes_upiNumber_isAvailable_upiNumber_isAvailable_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/txn/list": {"get": {"tags": ["Transactions"], "summary": "Transaction History", "description": "Fetch the global transaction history for the user profile.", "operationId": "TransactionRoutes_list_txn_list_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/txn/createOrder": {"get": {"tags": ["Transactions"], "summary": "Initialize Payment", "description": "Create an intent for a new peer-to-peer or peer-to-merchant payment.", "operationId": "TransactionRoutes_createOrder_txn_createOrder_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/txn/executeOrder": {"get": {"tags": ["Transactions"], "summary": "Execute Payment", "description": "Submit an authorized transaction to the bank for final settlement.", "operationId": "TransactionRoutes_executeOrder_txn_executeOrder_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/txn/blockAndSpam": {"get": {"tags": ["Transactions"], "summary": "Report User", "description": "Block a VPA and report it as a spam/fraudulent account to NPCI.", "operationId": "TransactionRoutes_blockAndSpam_txn_blockAndSpam_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/udir/create": {"get": {"tags": ["Dispute Management"], "summary": "Raise Dispute", "description": "Initiate a UDIR (Unified Dispute and Issue Resolution) complaint for a failed transaction.", "operationId": "UDIRRoutes_create_udir_create_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/udir/status": {"get": {"tags": ["Dispute Management"], "summary": "Check Dispute Status", "description": "Track the progress of an active UDIR dispute case.", "operationId": "UDIRRoutes_status_udir_status_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/delegate/link/remainingLimit": {"get": {"tags": ["Delegate Accounts"], "summary": "Get Delegate Limits", "description": "Check the spending limit remaining for a delegated/child account.", "operationId": "UpiDelegateRoutes_link_remainingLimit_delegate_link_remainingLimit_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/delegate/payRequest/generateCredBlock": {"get": {"tags": ["Delegate Accounts"], "summary": "Delegate CredBlock", "description": "Generate credentials for a delegate user to sign a payment.", "operationId": "UpiDelegateRoutes_payRequest_generateCredBlock_delegate_payRequest_generateCredBlock_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/delegate/payRequest/": {"get": {"tags": ["Delegate Accounts"], "summary": "Get Delegate Requests", "description": "Fetch all payment requests waiting for parent approval.", "operationId": "UpiDelegateRoutes_payRequest_delegate_payRequest__get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/delegate/payRequest/approve": {"get": {"tags": ["Delegate Accounts"], "summary": "Parent Approval", "description": "Authorize a payment request initiated by a delegate account.", "operationId": "UpiDelegateRoutes_payRequest_approve_delegate_payRequest_approve_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/delegate/payRequest/decline": {"get": {"tags": ["Delegate Accounts"], "summary": "Parent Decline", "description": "Reject a payment request initiated by a delegate account.", "operationId": "UpiDelegateRoutes_payRequest_decline_delegate_payRequest_decline_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/user/v1/getAuthSession": {"get": {"tags": ["User & Security"], "summary": "Get Auth Session", "description": "Retrieve a fresh authentication session for the native UPI SDK.", "operationId": "UserRoutes_v1_getAuthSession_user_v1_getAuthSession_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/user/getAccInfo": {"get": {"tags": ["User & Security"], "summary": "User Account Info", "description": "Fetch general user profile metadata and registration status.", "operationId": "UserRoutes_getAccInfo_user_getAccInfo_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/user/generateSimBinding": {"get": {"tags": ["User & Security"], "summary": "Initiate Device Binding", "description": "Start the SIM binding process by generating a unique challenge for SMS verification.", "operationId": "UserRoutes_generateSimBinding_user_generateSimBinding_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/user/verifySimBinding": {"get": {"tags": ["User & Security"], "summary": "Verify Device Binding", "description": "Confirm the SMS challenge to cryptographically bind the device to the user account.", "operationId": "UserRoutes_verifySimBinding_user_verifySimBinding_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/user/fetchNPCIToken": {"get": {"tags": ["User & Security"], "summary": "Fetch NPCI Token", "description": "Retrieve the short-lived security token required for NPCI common library interactions.", "operationId": "UserRoutes_fetchNPCIToken_user_fetchNPCIToken_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/user/deRegister": {"get": {"tags": ["User & Security"], "summary": "De-register UPI", "description": "Permanently wipe the UPI profile and device bindings for this user.", "operationId": "UserRoutes_deRegister_user_deRegister_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/user/genCredBlock": {"get": {"tags": ["User & Security"], "summary": "Global CredBlock", "description": "Generate a generic credential block for miscellaneous secure operations.", "operationId": "UserRoutes_genCredBlock_user_genCredBlock_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}, "/vpa/verify": {"post": {"tags": ["VPA Verification"], "summary": "Verify VPA", "description": "Perform a real-time check against the NPCI mapper to fetch the name of a VPA owner.", "operationId": "VpaVerifyRoutes_verify_vpa_verify_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/VerifyVpaRequestModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/vpa/verifyExt": {"get": {"tags": ["VPA Verification"], "summary": "External VPA Verification", "description": "Extended verification for cross-PSP VPA handles.", "operationId": "VpaVerifyRoutes_verifyExt_vpa_verifyExt_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericResponse_EmptyResponse_"}}}}}}}}, "components": {"schemas": {"AddBankAccountRequestModel": {"properties": {"bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}, "not_default": {"type": "string", "title": "Not Default"}}, "type": "object", "required": ["bank_account_unique_id", "not_default"], "title": "AddBankAccountRequestModel"}, "AtomicBankModel": {"properties": {"code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "mobRegFormat": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Mobregformat"}, "name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Name"}, "referenceId": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Referenceid"}, "upiEnabled": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Upienabled"}, "isPopular": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Ispopular"}}, "type": "object", "required": ["code", "mobRegFormat", "name", "referenceId", "upiEnabled", "isPopular"], "title": "AtomicBankModel"}, "BankAccountAtomicModel": {"properties": {"bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}, "bank_code": {"type": "string", "title": "Bank Code"}, "bank_name": {"type": "string", "title": "Bank Name"}, "name": {"type": "string", "title": "Name"}, "mask_account_number": {"type": "string", "title": "Mask Account Number"}, "mpin_set": {"type": "boolean", "title": "Mpin Set"}, "mpin_length": {"type": "string", "title": "Mpin Length"}, "type": {"type": "string", "title": "Type"}, "ifsc": {"type": "string", "title": "Ifsc"}, "atm_pin_length": {"type": "string", "title": "Atm Pin Length"}, "is_default": {"type": "boolean", "title": "Is Default"}}, "type": "object", "required": ["bank_account_unique_id", "bank_code", "bank_name", "name", "mask_account_number", "mpin_set", "mpin_length", "type", "ifsc", "atm_pin_length", "is_default"], "title": "BankAccountAtomicModel"}, "BankConsentRequestModel": {"properties": {"consent_type": {"type": "string", "title": "Consent Type", "default": "aadhaar"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}}, "type": "object", "required": ["bank_account_unique_id"], "title": "BankConsentRequestModel"}, "BankUpiVersionsInfo": {"properties": {"code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Name"}, "featuresSupported": {"anyOf": [{"items": {"type": "string"}, "type": "array"}, {"type": "null"}], "title": "Featuressupported"}}, "type": "object", "required": ["code", "name", "featuresSupported"], "title": "BankUpiVersionsInfo"}, "ChangeDefaultAccountRequestModel": {"properties": {"bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}}, "type": "object", "required": ["bank_account_unique_id"], "title": "ChangeDefaultAccountRequestModel"}, "ChangeMpinCredBlockModel": {"properties": {"cred_block": {"additionalProperties": true, "type": "object", "title": "Cred Block"}, "customer_vpa": {"type": "string", "title": "Customer Vpa"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}, "upi_request_id": {"type": "string", "title": "Upi Request Id"}}, "type": "object", "required": ["cred_block", "customer_vpa", "bank_account_unique_id", "upi_request_id"], "title": "ChangeMpinCredBlockModel"}, "CheckBalanceCredBlockModel": {"properties": {"cred_block": {"additionalProperties": true, "type": "object", "title": "Cred Block"}, "customer_vpa": {"type": "string", "title": "Customer Vpa"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}, "upi_request_id": {"type": "string", "title": "Upi Request Id"}}, "type": "object", "required": ["cred_block", "customer_vpa", "bank_account_unique_id", "upi_request_id"], "title": "CheckBalanceCredBlockModel"}, "CheckBalanceResponseModel": {"properties": {"balance": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Balance"}, "outstanding_balance": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Outstanding Balance"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}}, "type": "object", "required": ["balance", "outstanding_balance", "bank_account_unique_id"], "title": "CheckBalanceResponseModel"}, "ClaimVpaResponseModel": {"properties": {"vpa": {"type": "string", "title": "Vpa"}, "status": {"type": "integer", "title": "Status"}, "expiry": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Expiry"}}, "type": "object", "required": ["vpa", "status", "expiry"], "title": "ClaimVpaResponseModel"}, "CredBlockAtomicResponse": {"properties": {"key_code": {"type": "string", "title": "Key Code"}, "xml_payload": {"type": "string", "title": "Xml Payload"}, "controls": {"type": "string", "title": "Controls"}, "configuration": {"type": "string", "title": "Configuration"}, "salt": {"type": "string", "title": "Salt"}, "trust": {"type": "string", "title": "Trust"}, "pay_info": {"type": "string", "title": "Pay Info"}, "language_pref": {"type": "string", "title": "Language Pref"}, "upi_request_id": {"items": {"$ref": "#/components/schemas/UpiRequestTypeIdModel"}, "type": "array", "title": "Upi Request Id"}, "trust_non_sha": {"type": "string", "title": "Trust Non Sha"}}, "type": "object", "required": ["key_code", "xml_payload", "controls", "configuration", "salt", "trust", "pay_info", "language_pref", "upi_request_id", "trust_non_sha"], "title": "CredBlockAtomicResponse"}, "CredBlockRequestModel": {"properties": {"amount": {"type": "string", "title": "Amount"}, "cred_type": {"items": {"type": "string"}, "type": "array", "title": "Cred Type"}, "payee_vpa": {"type": "string", "title": "Payee Vpa"}, "payer_vpa": {"type": "string", "title": "Payer Vpa"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}, "note": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Note"}, "ref_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Ref Id"}, "ref_url": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Ref Url"}, "channel": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Channel"}}, "type": "object", "required": ["amount", "cred_type", "payee_vpa", "payer_vpa", "bank_account_unique_id", "note", "ref_id", "ref_url", "channel"], "title": "CredBlockRequestModel"}, "CredBlockResponse": {"properties": {"cred_block": {"anyOf": [{"$ref": "#/components/schemas/CredBlockAtomicResponse"}, {"type": "null"}]}}, "type": "object", "required": ["cred_block"], "title": "CredBlockResponse"}, "CustomerVpaRequestModel": {"properties": {"customer_vpa": {"type": "string", "title": "Customer Vpa"}}, "type": "object", "required": ["customer_vpa"], "title": "CustomerVpaRequestModel"}, "DelegateeInfo": {"properties": {"delegatee_customer_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Delegatee Customer Id"}, "delegatee_vpa": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Delegatee Vpa"}, "delegatee_name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Delegatee Name"}, "delegatee_mobile_number": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Delegatee Mobile Number"}}, "type": "object", "required": ["delegatee_customer_id", "delegatee_vpa", "delegatee_name", "delegatee_mobile_number"], "title": "DelegateeInfo"}, "EmptyResponse": {"properties": {}, "type": "object", "title": "EmptyResponse"}, "ExecuteMandateCredBlockModel": {"properties": {"cred_block": {"additionalProperties": true, "type": "object", "title": "Cred Block"}, "mandate_id": {"type": "string", "title": "Mandate Id"}}, "type": "object", "required": ["cred_block", "mandate_id"], "title": "ExecuteMandateCredBlockModel"}, "GenerateOtpRequestModel": {"properties": {"type": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Type"}, "customer_vpa": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Customer Vpa"}, "bank_account_unique_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Bank Account Unique Id"}, "card_last_six_digits": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Card Last Six Digits"}, "expiry_month": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Expiry Month"}, "expiry_year": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Expiry Year"}, "aadhaar_first_six_digits": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Aadhaar First Six Digits"}, "cred_block_dto": {"anyOf": [{"$ref": "#/components/schemas/CredBlockRequestModel"}, {"type": "null"}]}}, "type": "object", "required": ["type", "customer_vpa", "bank_account_unique_id", "card_last_six_digits", "expiry_month", "expiry_year", "aadhaar_first_six_digits", "cred_block_dto"], "title": "GenerateOtpRequestModel"}, "GenericResponse_CheckBalanceResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/CheckBalanceResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[CheckBalanceResponseModel]"}, "GenericResponse_ClaimVpaResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/ClaimVpaResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[ClaimVpaResponseModel]"}, "GenericResponse_CredBlockResponse_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/CredBlockResponse"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[CredBlockResponse]"}, "GenericResponse_EmptyResponse_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/EmptyResponse"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[EmptyResponse]"}, "GenericResponse_GetCustomVpaStatusModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/GetCustomVpaStatusModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[GetCustomVpaStatusModel]"}, "GenericResponse_LinkedBankAccountsResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/LinkedBankAccountsResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[LinkedBankAccountsResponseModel]"}, "GenericResponse_ListBanksResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/ListBanksResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[ListBanksResponseModel]"}, "GenericResponse_TpapCollectApproveResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapCollectApproveResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapCollectApproveResponseModel]"}, "GenericResponse_TpapCollectDetailsModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapCollectDetailsModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapCollectDetailsModel]"}, "GenericResponse_TpapCollectListModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapCollectListModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapCollectListModel]"}, "GenericResponse_TpapCreateMandateResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapCreateMandateResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapCreateMandateResponseModel]"}, "GenericResponse_TpapMandateDetailsModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapMandateDetailsModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapMandateDetailsModel]"}, "GenericResponse_TpapMandateIncomingListModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/TpapMandateIncomingListModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[TpapMandateIncomingListModel]"}, "GenericResponse_UpiLiteOnboardingResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/UpiLiteOnboardingResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[UpiLiteOnboardingResponseModel]"}, "GenericResponse_UpiLiteSyncResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/UpiLiteSyncResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[UpiLiteSyncResponseModel]"}, "GenericResponse_UpiVersionsResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/UpiVersionsResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[UpiVersionsResponseModel]"}, "GenericResponse_UserAccountModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/UserAccountModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[UserAccountModel]"}, "GenericResponse_UserAccountsModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/UserAccountsModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[UserAccountsModel]"}, "GenericResponse_VpaAvailabilityResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/VpaAvailabilityResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[VpaAvailabilityResponseModel]"}, "GenericResponse_VpaSuggestionsModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/VpaSuggestionsModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[VpaSuggestionsModel]"}, "GenericResponse_VpasListResponseModel_": {"properties": {"data": {"anyOf": [{"$ref": "#/components/schemas/VpasListResponseModel"}, {"type": "null"}]}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code"}, "message": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Message"}}, "type": "object", "required": ["data", "code", "message"], "title": "GenericResponse[VpasListResponseModel]"}, "GetCustomVpaStatusModel": {"properties": {"status": {"type": "integer", "title": "Status"}, "vpa": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Vpa"}}, "type": "object", "required": ["status", "vpa"], "title": "GetCustomVpaStatusModel"}, "HTTPValidationError": {"properties": {"detail": {"items": {"$ref": "#/components/schemas/ValidationError"}, "type": "array", "title": "Detail"}}, "type": "object", "title": "HTTPValidationError"}, "LinkedBankAccountsResponseModel": {"properties": {"accounts": {"items": {"$ref": "#/components/schemas/BankAccountAtomicModel"}, "type": "array", "title": "Accounts"}}, "type": "object", "required": ["accounts"], "title": "LinkedBankAccountsResponseModel"}, "ListBanksResponseModel": {"properties": {"banks": {"items": {"$ref": "#/components/schemas/AtomicBankModel"}, "type": "array", "title": "Banks"}}, "type": "object", "required": ["banks"], "title": "ListBanksResponseModel"}, "Paginated_TpapCollectDetailsModel_": {"properties": {"count": {"type": "integer", "title": "Count"}, "next": {"type": "string", "title": "Next"}, "previous": {"type": "string", "title": "Previous"}, "results": {"anyOf": [{"items": {"$ref": "#/components/schemas/TpapCollectDetailsModel"}, "type": "array"}, {"type": "null"}], "title": "Results"}}, "type": "object", "required": ["count", "next", "previous", "results"], "title": "Paginated[TpapCollectDetailsModel]"}, "Paginated_TpapMandateDetailsModel_": {"properties": {"count": {"type": "integer", "title": "Count"}, "next": {"type": "string", "title": "Next"}, "previous": {"type": "string", "title": "Previous"}, "results": {"anyOf": [{"items": {"$ref": "#/components/schemas/TpapMandateDetailsModel"}, "type": "array"}, {"type": "null"}], "title": "Results"}}, "type": "object", "required": ["count", "next", "previous", "results"], "title": "Paginated[TpapMandateDetailsModel]"}, "RemoveBankAccountRequestModel": {"properties": {"bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}}, "type": "object", "required": ["bank_account_unique_id"], "title": "RemoveBankAccountRequestModel"}, "SetMpinRequestModel": {"properties": {"type": {"type": "string", "title": "Type"}, "customer_vpa": {"type": "string", "title": "Customer Vpa"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}, "card_last_six_digits": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Card Last Six Digits"}, "expiry_month": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Expiry Month"}, "expiry_year": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Expiry Year"}, "cred_block": {"additionalProperties": true, "type": "object", "title": "Cred Block"}, "upi_request_id": {"type": "string", "title": "Upi Request Id"}}, "type": "object", "required": ["type", "customer_vpa", "bank_account_unique_id", "card_last_six_digits", "expiry_month", "expiry_year", "cred_block", "upi_request_id"], "title": "SetMpinRequestModel"}, "TpapCollectApproveRequestModel": {"properties": {"cred_block": {"anyOf": [{"additionalProperties": true, "type": "object"}, {"type": "null"}], "title": "Cred Block"}, "collect_request_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Collect Request Id"}, "bank_account_unique_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Bank Account Unique Id"}}, "type": "object", "required": ["cred_block", "collect_request_id", "bank_account_unique_id"], "title": "TpapCollectApproveRequestModel"}, "TpapCollectApproveResponseModel": {"properties": {"collect_request": {"$ref": "#/components/schemas/TpapCollectDetailsModel"}, "txn_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Txn Id"}}, "type": "object", "required": ["collect_request", "txn_id"], "title": "TpapCollectApproveResponseModel"}, "TpapCollectAtomicModel": {"properties": {"collect_type": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Collect Type"}, "amount": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Amount"}, "status": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Status"}, "is_incoming": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Incoming"}, "payee_vpa": {"anyOf": [{"$ref": "#/components/schemas/VpaAddressWithIdModel"}, {"type": "null"}]}, "payer_vpa": {"anyOf": [{"$ref": "#/components/schemas/VpaAddressWithIdModel"}, {"type": "null"}]}, "expiry": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Expiry"}, "is_verified_payee": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Verified Payee"}, "is_marked_spam": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Marked Spam"}, "seq_number": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Seq Number"}, "delegatee_info": {"anyOf": [{"$ref": "#/components/schemas/DelegateeInfo"}, {"type": "null"}]}}, "type": "object", "required": ["collect_type", "amount", "status", "is_incoming", "payee_vpa", "payer_vpa", "expiry", "is_verified_payee", "is_marked_spam", "seq_number", "delegatee_info"], "title": "TpapCollectAtomicModel"}, "TpapCollectCreateRequestModel": {"properties": {"init_mode": {"type": "string", "title": "Init Mode"}, "currency": {"type": "string", "title": "Currency"}, "amount": {"type": "string", "title": "Amount"}, "beneficiary_id": {"type": "string", "title": "Beneficiary Id"}, "remarks": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Remarks"}, "purpose_code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Purpose Code"}}, "type": "object", "required": ["init_mode", "currency", "amount", "beneficiary_id", "remarks", "purpose_code"], "title": "TpapCollectCreateRequestModel"}, "TpapCollectDetailsModel": {"properties": {"id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Id"}, "created_at": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Created At"}, "collect_request": {"$ref": "#/components/schemas/TpapCollectAtomicModel"}}, "type": "object", "required": ["id", "created_at", "collect_request"], "title": "TpapCollectDetailsModel"}, "TpapCollectListModel": {"properties": {"collect_requests": {"$ref": "#/components/schemas/Paginated_TpapCollectDetailsModel_"}}, "type": "object", "required": ["collect_requests"], "title": "TpapCollectListModel"}, "TpapCollectRejectRequestModel": {"properties": {"collect_request_id": {"type": "string", "title": "Collect Request Id"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}}, "type": "object", "required": ["collect_request_id", "bank_account_unique_id"], "title": "TpapCollectRejectRequestModel"}, "TpapCreateMandateRequestModel": {"properties": {"amount": {"type": "string", "title": "Amount"}, "amount_rule": {"type": "string", "title": "Amount Rule"}, "initiation_mode": {"type": "string", "title": "Initiation Mode"}, "mandate_name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Mandate Name"}, "mandate_type": {"type": "string", "title": "Mandate Type"}, "payee_vpa": {"type": "string", "title": "Payee Vpa"}, "purpose_code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Purpose Code"}, "recurrence_rule": {"type": "string", "title": "Recurrence Rule"}, "recurrence_pattern": {"type": "string", "title": "Recurrence Pattern"}, "status": {"type": "string", "title": "Status", "default": "initiated"}, "upi_request_id": {"type": "string", "title": "Upi Request Id"}, "validity_end": {"type": "integer", "title": "Validity End"}, "validity_start": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Validity Start"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}, "mcc": {"type": "string", "title": "Mcc"}, "remarks": {"type": "string", "title": "Remarks"}, "recurrence_value": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Recurrence Value"}, "ref_url": {"type": "string", "title": "Ref Url"}, "transaction_reference": {"type": "string", "title": "Transaction Reference"}, "recipient_name": {"type": "string", "title": "Recipient Name"}, "payer_revocable": {"type": "boolean", "title": "Payer Revocable"}}, "type": "object", "required": ["amount", "amount_rule", "initiation_mode", "mandate_name", "mandate_type", "payee_vpa", "purpose_code", "recurrence_rule", "recurrence_pattern", "upi_request_id", "validity_end", "validity_start", "bank_account_unique_id", "mcc", "remarks", "recurrence_value", "ref_url", "transaction_reference", "recipient_name", "payer_revocable"], "title": "TpapCreateMandateRequestModel"}, "TpapCreateMandateResponseModel": {"properties": {"mandate_details": {"$ref": "#/components/schemas/TpapMandateDetailsModel"}, "cred_block_resp": {"anyOf": [{"$ref": "#/components/schemas/CredBlockAtomicResponse"}, {"type": "null"}]}}, "type": "object", "required": ["mandate_details", "cred_block_resp"], "title": "TpapCreateMandateResponseModel"}, "TpapMandateActionRequestModel": {"properties": {"cred_block": {"additionalProperties": true, "type": "object", "title": "Cred Block"}, "type": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Type"}, "mandate_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Mandate Id"}, "bank_account_unique_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Bank Account Unique Id"}, "remarks": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Remarks"}, "pause_end_timestamp": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Pause End Timestamp"}, "upi_request_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Upi Request Id"}, "validity_end": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Validity End"}, "amount": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Amount"}}, "type": "object", "required": ["cred_block", "type", "mandate_id", "bank_account_unique_id", "remarks", "pause_end_timestamp", "upi_request_id", "validity_end", "amount"], "title": "TpapMandateActionRequestModel"}, "TpapMandateAtomicDetailsModel": {"properties": {"created_by": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Created By"}, "mandate_type": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Mandate Type"}, "is_incoming": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Incoming"}, "upi_request_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Upi Request Id"}, "mandate_name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Mandate Name"}, "amount_rule": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Amount Rule"}, "recurrence_rule": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Recurrence Rule"}, "recurrence_pattern": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Recurrence Pattern"}, "recurrence_value": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Recurrence Value"}, "amount": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Amount"}, "status": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Status"}, "validity_end": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Validity End"}, "payer_bank_account": {"anyOf": [{"$ref": "#/components/schemas/UserBankAccountModel"}, {"type": "null"}]}, "pause_start": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Pause Start"}, "pause_end": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Pause End"}, "payee_vpa": {"anyOf": [{"$ref": "#/components/schemas/VpaAddressWithIdModel"}, {"type": "null"}]}, "payee_name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Payee Name"}, "umn": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Umn"}, "is_verified_payee": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Verified Payee"}, "is_marked_spam": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Marked Spam"}}, "type": "object", "required": ["created_by", "mandate_type", "is_incoming", "upi_request_id", "mandate_name", "amount_rule", "recurrence_rule", "recurrence_pattern", "recurrence_value", "amount", "status", "validity_end", "payer_bank_account", "pause_start", "pause_end", "payee_vpa", "payee_name", "umn", "is_verified_payee", "is_marked_spam"], "title": "TpapMandateAtomicDetailsModel"}, "TpapMandateDetailsModel": {"properties": {"id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Id"}, "created_at": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Created At"}, "mandate": {"$ref": "#/components/schemas/TpapMandateAtomicDetailsModel"}}, "type": "object", "required": ["id", "created_at", "mandate"], "title": "TpapMandateDetailsModel"}, "TpapMandateIncomingListModel": {"properties": {"mandates": {"$ref": "#/components/schemas/Paginated_TpapMandateDetailsModel_"}}, "type": "object", "required": ["mandates"], "title": "TpapMandateIncomingListModel"}, "TpapMandateRejectRequestModel": {"properties": {"mandate_id": {"type": "string", "title": "Mandate Id"}}, "type": "object", "required": ["mandate_id"], "title": "TpapMandateRejectRequestModel"}, "UpiLiteAccountDetails": {"properties": {"name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Name"}, "account_number": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Account Number"}, "bank_account_unique_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Bank Account Unique Id"}, "first_top_up_done": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "First Top Up Done"}}, "type": "object", "required": ["name", "account_number", "bank_account_unique_id", "first_top_up_done"], "title": "UpiLiteAccountDetails"}, "UpiLiteOnboardingRequestModel": {"properties": {"cred_block": {"additionalProperties": true, "type": "object", "title": "Cred Block"}, "bank_account_unique_id": {"type": "string", "title": "Bank Account Unique Id"}, "upi_request_id": {"type": "string", "title": "Upi Request Id"}}, "type": "object", "required": ["cred_block", "bank_account_unique_id", "upi_request_id"], "title": "UpiLiteOnboardingRequestModel"}, "UpiLiteOnboardingResponseModel": {"properties": {"resp_list_keys": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Resp List Keys"}, "resp_list_keys_expiry": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Resp List Keys Expiry"}, "lite_bank_account": {"anyOf": [{"$ref": "#/components/schemas/UpiLiteAccountDetails"}, {"type": "null"}]}}, "type": "object", "required": ["resp_list_keys", "resp_list_keys_expiry", "lite_bank_account"], "title": "UpiLiteOnboardingResponseModel"}, "UpiLiteSyncResponseModel": {"properties": {"lrn": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Lrn"}, "arpc": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Arpc"}}, "type": "object", "required": ["lrn", "arpc"], "title": "UpiLiteSyncResponseModel"}, "UpiRequestTypeIdModel": {"properties": {"cred_type": {"type": "string", "title": "Cred Type"}, "upi_request_id": {"type": "string", "title": "Upi Request Id"}}, "type": "object", "required": ["cred_type", "upi_request_id"], "title": "UpiRequestTypeIdModel"}, "UpiVersionsResponseModel": {"properties": {"banks": {"anyOf": [{"items": {"$ref": "#/components/schemas/BankUpiVersionsInfo"}, "type": "array"}, {"type": "null"}], "title": "Banks"}}, "type": "object", "required": ["banks"], "title": "UpiVersionsResponseModel"}, "UserAccountModel": {"properties": {"vpas": {"items": {"$ref": "#/components/schemas/VpaAddressModel"}, "type": "array", "title": "Vpas"}, "accounts": {"items": {"$ref": "#/components/schemas/AtomicBankModel"}, "type": "array", "title": "Accounts"}, "default_vpa_address": {"type": "string", "title": "Default Vpa Address"}}, "type": "object", "required": ["vpas", "accounts", "default_vpa_address"], "title": "UserAccountModel"}, "UserAccountsModel": {"properties": {"vpas": {"items": {"$ref": "#/components/schemas/VpaAddressModel"}, "type": "array", "title": "Vpas"}, "accounts": {"items": {"$ref": "#/components/schemas/BankAccountAtomicModel"}, "type": "array", "title": "Accounts"}, "default_vpa_address": {"type": "string", "title": "Default Vpa Address"}}, "type": "object", "required": ["vpas", "accounts", "default_vpa_address"], "title": "UserAccountsModel"}, "UserBankAccountModel": {"properties": {"user_bank_account": {"$ref": "#/components/schemas/BankAccountAtomicModel"}}, "type": "object", "required": ["user_bank_account"], "title": "UserBankAccountModel"}, "ValidationError": {"properties": {"loc": {"items": {"anyOf": [{"type": "string"}, {"type": "integer"}]}, "type": "array", "title": "Location"}, "msg": {"type": "string", "title": "Message"}, "type": {"type": "string", "title": "Error Type"}, "input": {"title": "Input"}, "ctx": {"type": "object", "title": "Context"}}, "type": "object", "required": ["loc", "msg", "type"], "title": "ValidationError"}, "VerifyVpaRequestModel": {"properties": {"upi_number": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Upi Number"}, "bank_account_number": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Bank Account Number"}, "ifsc": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Ifsc"}, "upi_string": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Upi String"}, "bharat_qr": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Bharat Qr"}}, "type": "object", "required": ["upi_number", "bank_account_number", "ifsc", "upi_string", "bharat_qr"], "title": "VerifyVpaRequestModel"}, "VpaAddressCategory": {"type": "integer", "enum": [0, 1, 2], "title": "VpaAddressCategory"}, "VpaAddressModel": {"properties": {"address": {"type": "string", "title": "Address"}, "is_merchant": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Is Merchant"}, "name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Name"}, "ifsc": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Ifsc"}, "type": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Type"}, "category": {"anyOf": [{"$ref": "#/components/schemas/VpaAddressCategory"}, {"type": "null"}]}, "bank_account_unique_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Bank Account Unique Id"}}, "type": "object", "required": ["address", "is_merchant", "name", "ifsc", "type", "category", "bank_account_unique_id"], "title": "VpaAddressModel"}, "VpaAddressWithIdModel": {"properties": {"vpa": {"$ref": "#/components/schemas/VpaAddressModel"}}, "type": "object", "required": ["vpa"], "title": "VpaAddressWithIdModel"}, "VpaAvailabilityResponseModel": {"properties": {"available": {"type": "boolean", "title": "Available"}}, "type": "object", "required": ["available"], "title": "VpaAvailabilityResponseModel"}, "VpaItemModel": {"properties": {"vpa": {"type": "string", "title": "Vpa"}, "category": {"type": "integer", "title": "Category"}, "is_default": {"type": "boolean", "title": "Is Default"}, "created_at": {"type": "integer", "title": "Created At"}}, "type": "object", "required": ["vpa", "category", "is_default", "created_at"], "title": "VpaItemModel"}, "VpaSuggestionsModel": {"properties": {"suggestions": {"items": {"type": "string"}, "type": "array", "title": "Suggestions"}}, "type": "object", "required": ["suggestions"], "title": "VpaSuggestionsModel"}, "VpasListResponseModel": {"properties": {"vpas": {"items": {"$ref": "#/components/schemas/VpaItemModel"}, "type": "array", "title": "Vpas"}}, "type": "object", "required": ["vpas"], "title": "VpasListResponseModel"}, "vpaRequestModel": {"properties": {"vpa": {"type": "string", "title": "Vpa"}}, "type": "object", "required": ["vpa"], "title": "vpaRequestModel"}}}}